<div>
	<div class="page_titile">デバッグ</div>
	<br>
	<hr>
	<div class="h_form">メニュー</div>
	<br ?>
	<a href="{UtilCommon::get_base_url('account', 'registForm')}">新規会員の登録</a><br />
	<a href="{UtilCommon::get_base_url('login')}">会員ログイン</a>
	<hr>
	<div class="h_form">会員一覧</div>
	<br>
	{if $um_persons}
		<table border="1">
			<tr>
				<th>会員ID</th>
				<th>氏名</th>
				<th>誕生日（年齢）</th>
				<th>電話番号</th>
				<th>メールアドレス</th>
				<th>操作</th>
			</tr>
			
			{foreach from=$um_persons item=um_person}
				<tr>
					<td>{$um_person->id}</td>
					<td>{$um_person->name}</td>
					<td>{$um_person->bday}（{$um_person->age}）</td>
					<td>{$um_person->tel}</td>
					<td>{$um_person->email}</td>
					<td><a href="{UtilCommon::get_base_url('debug', 'accountDelete')}?id={$um_person->id}">削除</td>
				</tr>
			{/foreach}
		</table>
	{else}
		会員情報がありません
	{/if}
	
	
</div>