<script type="text/javascript">

function user_cert_del_exec() {

    if (window.confirm('選択した資格証明書を却下します。よろしいですか？')) {
        document.userCertDelForm.submit();
    }
    
}

function approve_type_upd_exec() {

    if (window.confirm('従事者を承認します。よろしいですか？')) {
        document.approveTypeForm.submit();
    }
    
}

function status_type_upd_exec() {

    if (window.confirm('従事者ステータスを変更します。よろしいですか？')) {
        document.statusTypeForm.submit();
    }
    
}

</script>

<div class="panel">
	
	<div class="panel-heading">
		<h3 class="panel-title">従事者 情報</h3>
	</div>
	
	<div class="panel-body">

		{if isset($error_messages)}
			{foreach from=$error_messages item=$error_message}
			<div class="alert alert-danger alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
				<i class="fa fa-times-circle"></i> {$error_message}<br>
			</div>
			{/foreach}
		{/if}

		{* フォーム *}
			
		<table class="input_form">
			<tbody>
				<tr>
					<th>従事者コード</th>
					<td>{$user->code}</td>
					<th>従事者ステータス</th>
					<td>{$user->status_type_name}</td>
				</tr>
				<tr>
					<th>氏名</th>
					<td>{$user->name}</td>
					<th>氏名（ふりがな）</th>
					<td>{$user->name_kana}</td>
				</tr>
				<tr>
					<th>メールアドレス</th>
					<td>
						{if $user->email}
							{$user->email}
						{else}
							<span class="text_disabled">（未設定）</span>
						{/if}
					</td>
					<th>電話番号</th>
					<td>
						{if $user->tel}
							{$user->tel}
						{else}
							<span class="text_disabled">（未設定）</span>
						{/if}
					</td>

				</tr>
				<tr>
					<th>性別</th>
					<td>{$user->gender_type_name}</td>
					<th>生年月日</th>
					<td>{if $user->birth_day && '0000-00-00' != $user->birth_day}
							{$user->birth_day|date_format:'%Y年%m月%d日'}生（{$user->age}歳）
						{else}
							<span class="text_disabled">（未設定）</span>
						{/if}
					</td>
				</tr>
				<tr>
					<th>国籍</th>
					<td>{$user->country_name}</td>
					<th>住所</th>
					<td>
						{if $user->post_code}
							〒{$user->post_code}<br>
						{/if}
						{if $user->address}
							{$user->address}
						{else}
							<span class="text_disabled">（未設定）</span>
						{/if}
					</td>
				</tr>
				<tr>
					<th>雇用形態</th>
					<td>{$user->employ_type_name}</td>
					<th>所属会社</th>
					<td>
						{if $user->etc_company_name}
							{$user->etc_company_name}
						{else}
							{$user->company_name}
						{/if}
					</td>
				</tr>
				<tr>
					<th>最終ログイン日時</th>
					<td>
						{if $user->last_login_date}
							{$user->last_login_date|date_format:'%Y年%m月%d日 %H:%M:%S'}
						{else}
							<span class="text_disabled">（ログイン無し）</span>
						{/if}
					</td>
					<th>備考</th>
					<td>
						{if $user->note}
							{$user->note|nl2br}
						{else}
							<span class="text_disabled">（未設定）</span>
						{/if}
					</td>
				</tr>
			</tbody>
		</table>
		<br />
		<div class="frm_btn_area">
			<button type="button" class="btn btn-default" onclick="javascript:history.back();">戻る</button>
		</div>
	</div>
</div>

<div class="panel">
	
	<div class="panel-heading">
		<h3 class="panel-title">資格証明書フォーム</h3>
	</div>
	
	<div class="panel-body">

		{if isset($error_messages)}
			{foreach from=$error_messages item=$error_message}
			<div class="alert alert-danger alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
				<i class="fa fa-times-circle"></i> {$error_message}<br>
			</div>
			{/foreach}
		{/if}

		{* 資格証明書フォーム *}
		<form method="post" action="/user/userCertDelFinish/" name="userCertDelForm" novalidate="novalidate">
			<input type="hidden" name="user_id" value="{$user->id}">
			<table class="input_form">
				<tbody>
					{foreach from=$user->user_certs item=user_cert}
						<tr>
							<th colspan="2">{$user_cert->cert_name}</th>
						</tr>
						{foreach from=$user_cert->cert_files item=cert_files}
							<tr>
								{foreach from=$cert_files item=cert_file}
									<td>
										<img src="{$cert_file->file_src}" width="200px" /><br>								
										<label for="user_cert_id_{$cert_file->id}"><input type="checkbox" name="user_cert_ids[]" id="user_cert_id_{$cert_file->id}" value="{$cert_file->id}"> 却下（削除する）</label>&nbsp;&nbsp;
									</td>
								{/foreach}
							</tr>
						{/foreach}

					{/foreach}
				</tbody>
			</table>
		</form>
		{if $user->user_certs}
			<br />
			<div class="frm_btn_area">
				<button type="button" class="btn btn-primary" onclick="user_cert_del_exec();">却下する</button>
			</div>
		{else}
			資格証明書がアップロードされていません。
		{/if}
	</div>
</div>

<div class="panel">
	
	<div class="panel-heading">
		<h3 class="panel-title">承認フォーム</h3>
	</div>
	
	<div class="panel-body">

		{if isset($error_messages)}
			{foreach from=$error_messages item=$error_message}
			<div class="alert alert-danger alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
				<i class="fa fa-times-circle"></i> {$error_message}<br>
			</div>
			{/foreach}
		{/if}

		{* 承認フォーム *}
		<form method="post" action="/user/approveTypeUpdFinish/" id="frm" name="approveTypeForm" novalidate="novalidate">
			<input type="hidden" name="id" value="{$user->id}">
			<table class="input_form">
				<tbody>
					<tr>
						<th>承認状態</th>
						<td>
							{if $smarty.const.PARAM_CONST_USER_APPROVE_TYPE_WAIT == $user->approve_type}
								{if isset($smarty.post.approve_type)}
									{assign var="input_approve_type" value=$smarty.post.approve_type}
								{else}
									{assign var="input_approve_type" value=$user->approve_type}
								{/if}
								{foreach from=$smarty.const.PARAM_CONST_USER_APPROVE_TYPES key=approve_type item=approve_type_name}
									<label for="approve_type_{$approve_type}"><input type="radio" name="approve_type" id="approve_type_{$approve_type}" value="{$approve_type}" {if $approve_type == $input_approve_type}checked{/if}> {$approve_type_name}</label>&nbsp;&nbsp;
								{/foreach}
							{else}
								{$user->approve_type_name}
							{/if}				
						</td>
					</tr>
				</tbody>
			</table>
			<div class="frm_notice">
				<b>【注意】</b><br>
				承認状態を更新すると、もとに戻すことはできません。<br>
				また、承認結果をメールにて従事者へ通知されます。<br>
			</div>
		</form>
		{if $smarty.const.PARAM_CONST_USER_APPROVE_TYPE_WAIT == $user->approve_type}
			<br />
			<div class="frm_btn_area">
				<button type="button" class="btn btn-primary" onclick="approve_type_upd_exec();">更新</button>
			</div>
		{/if}
	</div>
</div>

<div class="panel">
	
	<div class="panel-heading">
		<h3 class="panel-title">従事者ステータス変更フォーム</h3>
	</div>
	
	<div class="panel-body">

		{if isset($error_messages)}
			{foreach from=$error_messages item=$error_message}
			<div class="alert alert-danger alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
				<i class="fa fa-times-circle"></i> {$error_message}<br>
			</div>
			{/foreach}
		{/if}

		{* 従事者ステータス変更フォーム *}
		<form method="post" action="/user/statusTypeUpdFinish/" id="frm" name="statusTypeForm" novalidate="novalidate">
			<input type="hidden" name="id" value="{$user->id}">
			<table class="input_form">
				<tbody>
					<tr>
						<th>従事者ステータス</th>
						<td>
							{if isset($smarty.post.status_type)}
								{assign var="input_status_type" value=$smarty.post.status_type}
							{else}
								{assign var="input_status_type" value=$user->status_type}
							{/if}
							{foreach from=$smarty.const.PARAM_CONST_USER_STATUS_TYPES key=status_type item=status_type_name}
								<label for="status_type_{$status_type}"><input type="radio" name="status_type" id="status_type_{$status_type}" value="{$status_type}" {if $status_type == $input_status_type}checked{/if}> {$status_type_name}</label>&nbsp;&nbsp;
							{/foreach}				
						</td>
					</tr>
				</tbody>
			</table>
			<div class="frm_notice">
				<b>【注意】</b><br>
				従事者ステータスを「有効」以外に更新すると、従事者はログインができなくなります。<br>
				「退会」に更新すると、退会状態となりますが、個人情報が削除されないので、ご注意ください。<br>
				<u>管理画面からの「退会」手続きは非推奨としております。<br>
			</div>
		</form>
		<br />
		<div class="frm_btn_area">
			<button type="button" class="btn btn-primary" onclick="status_type_upd_exec();">更新</button>
		</div>
	</div>
</div>