<script type="text/javascript">

function add_exec() {

    if (window.confirm('登録します。よろしいですか？')) {
        document.getElementById('frm').submit();
    }
    
}

function upd_exec() {

    if (window.confirm('更新します。よろしいですか？')) {
        document.getElementById('frm').submit();
    }
    
}

function del_exec() {

    if (window.confirm('削除後は元にに戻せません。本当によろしいですか？')) {
        document.getElementById('frm').submit();
    }
    
}

function csv_imp_exec() {

    if (window.confirm('CSVファイルをインポートします。よろしいですか？')) {
        document.getElementById('frm').submit();
    }
    
}

</script>