<div id="sidebar-nav" class="sidebar">
	<div class="sidebar-scroll">
		<nav>	
			<ul class="nav">
				<li><a href="/top" class={if top == $controller}active{/if}><i class="lnr lnr-home"></i> <span>Top</span></a></li>
				<li>
					<a href="#user" data-toggle="collapse" class="{if user == $controller}active collapse{else}collapsed{/if}" {if user == $controller}aria-expanded="true"{/if}><i class="lnr lnr-users"></i><span>従事者管理</span><i class="icon-submenu lnr lnr-chevron-left"></i></a>
					<div id="user" class="collapse {if user == $controller}in{/if}" >
						<ul class="nav">
							<li><a href="/user/list/" class="">従事者一覧</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="#location" data-toggle="collapse" class="{if location == $controller}active collapse{else}collapsed{/if}" {if location == $controller}aria-expanded="true"{/if}><i class="lnr lnr-construction"></i><span>現場管理</span><i class="icon-submenu lnr lnr-chevron-left"></i></a>
					<div id="location" class="collapse {if location == $controller}in{/if}" >
						<ul class="nav">
							<li><a href="/location/list/" class="">現場一覧</a></li>
							<li><a href="/location/shiftList/" class="">現場シフト一覧</a></li>
							<li><a href="/location/assignList/" class="">アサイン一覧</a></li>
							<li><a href="/location/assignSummaryList/" class="">アサインサマリ</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="#work" data-toggle="collapse" class="{if work == $controller}active collapse{else}collapsed{/if}" {if work == $controller}aria-expanded="true"{/if}><i class="lnr lnr-history"></i><span>現場作業</span><i class="icon-submenu lnr lnr-chevron-left"></i></a>
					<div id="work" class="collapse {if work == $controller}in{/if}" >
						<ul class="nav">
							<li><a href="/work/list/" class="">打刻現場シフト一覧</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="#settle" data-toggle="collapse" class="{if settle == $controller}active collapse{else}collapsed{/if}" {if settle == $controller}aria-expanded="true"{/if}><i class="lnr lnr-checkmark-circle"></i><span>精算業務</span><i class="icon-submenu lnr lnr-chevron-left"></i></a>
					<div id="settle" class="collapse {if settle == $controller}in{/if}" >
						<ul class="nav">
							<li><a href="/settle/locationList/" class="">日当入力</a></li>
							<li><a href="/settle/receptList/" class="">精算受付</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="#report" data-toggle="collapse" class="{if report == $controller}active collapse{else}collapsed{/if}" {if report == $controller}aria-expanded="true"{/if}><i class="lnr lnr-chart-bars"></i><span>各種レポート</span><i class="icon-submenu lnr lnr-chevron-left"></i></a>
					<div id="report" class="collapse {if report == $controller}in{/if}" >
						<ul class="nav">
							<li><a href="/report/paidUserList" class="">個人別支払い額一覧</a></li>
							<li><a href="/report/paidYmSumary" class="">年月別支払い額サマリ</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="#masterData" data-toggle="collapse" class="{if masterData == $controller}active collapse{else}collapsed{/if}" {if masterData == $controller}aria-expanded="true"{/if}><i class="lnr lnr-database"></i><span>各種マスタ管理</span><i class="icon-submenu lnr lnr-chevron-left"></i></a>
					<div id="masterData" class="collapse {if masterData == $controller}in{/if}" >
						<ul class="nav">
							<li><a href="/masterData/countryList/" class="">国籍マスタ</a></li>
							<li><a href="/masterData/companyList/" class="">所属会社マスタ</a></li>
							<li><a href="/masterData/certList/" class="">資格証明書マスタ</a></li>
							<li><a href="/masterData/withholdTaxList/" class="">源泉徴収金額マスタ</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="#import" data-toggle="collapse" class="{if import == $controller}active collapse{else}collapsed{/if}" {if import == $controller}aria-expanded="true"{/if}><i class="lnr lnr-cloud-upload"></i><span>データインポート</span><i class="icon-submenu lnr lnr-chevron-left"></i></a>
					<div id="import" class="collapse {if import == $controller}in{/if}" >
						<ul class="nav">
							<li><a href="/import/userForm/" class="">従事者情報</a></li>
							<li><a href="/import/locationForm/" class="">現場情報</a></li>
							<li><a href="/import/locationShiftForm/" class="">現場シフト情報</a></li>
							<li><a href="/import/countryForm/" class="">国籍マスタ</a></li>
							<li><a href="/import/companyForm/" class="">所属会社マスタ</a></li>
							<li><a href="/import/certForm/" class="">資格証明書マスタ</a></li>
							<li><a href="/import/withholdTaxForm/" class="">源泉徴収金額マスタ</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="#adminUser" data-toggle="collapse" class="{if adminUser == $controller}active collapse{else}collapsed{/if}" {if adminUser == $controller}aria-expanded="true"{/if}><i class="lnr lnr-user"></i><span>システムユーザ管理</span><i class="icon-submenu lnr lnr-chevron-left"></i></a>
					<div id="adminUser" class="collapse {if adminUser == $controller}in{/if}" >
						<ul class="nav">
							<li><a href="/adminUser/list" class="">システムユーザ一覧</a></li>
							<li><a href="/adminUser/addForm" class="">システムユーザ登録</a></li>
						</ul>
					</div>
				</li>
				<li>
					<a href="#develop" data-toggle="collapse" class="{if develop == $controller}active collapse{else}collapsed{/if}" {if develop == $controller}aria-expanded="true"{/if}><i class="lnr lnr-rocket"></i><span>開発用</span><i class="icon-submenu lnr lnr-chevron-left"></i></a>
					<div id="develop" class="collapse {if develop == $controller}in{/if}" >
						<ul class="nav">
							<li><a href="/develop/sendMailForm" class="">テストメール配信</a></li>
					</div>
				</li>
			</ul>
		</nav>
	</div>
</div>
