<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja" prefix="og: http://ogp.me/ns#">
	
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="robots" content="noindex">
<link rel="icon" href="../../image/rise.ico">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" />
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../css/style.css" />
<link rel="stylesheet" type="text/css" media="screen,print" href="../../css/style_watermark.css" />

<title>
	{if isset($site_title)}
		{$site_title}
	{else}
		{$smarty.const.SITE_NAME}
	{/if}
</title>

<header>

	<div class="site_name"><a href="{$smarty.const.WEB_SRC}" class="site_name">{if $selected_lang_type == $smarty.const.PARAM_CONST_LANG_TYPE_EN}Chiba Avian Influenza Worker Registration{else}{$smarty.const.SITE_NAME}{/if}</a></div>
	{if isset($lang_types)}
		<details class="header-lang-toggle">
			<summary class="header-lang-button" aria-label="Language selector">
				<svg class="header-lang-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
					<path d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2Z" stroke="currentColor" stroke-width="1.8"/>
					<path d="M2.5 12H21.5" stroke="currentColor" stroke-width="1.8"/>
					<path d="M12 2C14.5 4.7 16 8.2 16 12C16 15.8 14.5 19.3 12 22" stroke="currentColor" stroke-width="1.8"/>
					<path d="M12 2C9.5 4.7 8 8.2 8 12C8 15.8 9.5 19.3 12 22" stroke="currentColor" stroke-width="1.8"/>
				</svg>
				<span class="header-lang-current">
					{if $selected_lang_type == $smarty.const.PARAM_CONST_LANG_TYPE_EN}EN{else}JP{/if}
				</span>
			</summary>
			<div class="header-lang-menu">
				{foreach from=$lang_types key=lang_type item=lang_name}
					<form method="post" action="/login/changeLang/" class="header-lang-item-form">
						<input type="hidden" name="redirect_url" value="{$smarty.server.REQUEST_URI|escape}">
						<input type="hidden" name="lang_type" value="{$lang_type}">
						<button type="submit" class="header-lang-item{if $selected_lang_type == $lang_type} is-active{/if}">{$lang_name}</button>
					</form>
				{/foreach}
			</div>
		</details>
	{/if}

</header>


<body class="login-page">

	{* 透かし *}
	<div class="watermark"></div>

	<div class="wrap">
		{assign var="is_en" value=($selected_lang_type == $smarty.const.PARAM_CONST_LANG_TYPE_EN)}

		<div class="page_titile">{if $is_en}Log in{else}ログイン{/if}</div>
		<br>
		{if $is_en}
			This website is for worker registration related to avian influenza culling operations in Chiba Prefecture.<br>
			Please enter your registered email address and password.<br>
		{else}
			従事者のメールアドレスとパスワードをご入力ください。<br>
		{/if}

		{* ログインフォーム *}
		<form method="post" id="login_exec" action="/login/exec/">
			<div class="div_form">
				<label class="lb_form">{if $is_en}Email{else}メールアドレス{/if}</label>
				<div class="input_form">
					{assign var="input_email" value=""}
					{if isset($smarty.post.email)}
						{assign var="input_email" value=$smarty.post.email}
					{/if}
					<input type="email" name="email" value="{$input_email}" placeholder="{if $is_en}Email{else}メールアドレス{/if}">
				</div>
			</div>
			<div class="div_form">
				<label class="lb_form">{if $is_en}Password{else}パスワード{/if}</label>
				<div class="input_form">
					{assign var="input_password" value=""}
					{if isset($smarty.post.password)}
						{assign var="input_password" value=$smarty.post.password}
					{/if}
					<input type="password" name="password" value="{$input_password}" placeholder="{if $is_en}Password{else}パスワード{/if}">
				</div>
			</div>
			{if isset($error_message)}
				<div class="alert">{$error_message}</div>
			{/if}
			<br>
			<div class="div_input_button">
				<input type="hidden" name="csrf_token" value="{$csrf_token}">
				<input type="submit" value="{if $is_en}Sign in{else}ログイン{/if}" class="input_button">
			</div>
		</form>
		<br>
		<div class="login-links">
			{if $is_en}
				<a href="/account/langForm/">Sign up</a>　　
				<a href="/login/reissuePasswordForm/">Reset password</a>
			{else}
				<a href="/account/langForm/">新規登録</a>　　
				<a href="/login/reissuePasswordForm/">パスワードリセット</a>
			{/if}
		</div>
	</div>

	{* フッタ *}
	{include file="`$smarty.const.VIEW_DIR`/common/footer.html"}

</body>
</html>