<div>
	
	{* パスワードの再設定 共通ヘッダ *}
	{include file="`$smarty.const.VIEW_DIR`/common/reissue_password_header.html"}

	<div class="h_form">
		登録情報の入力<br><br>
		Enter registration information
	</div>
	<br>
	下記のメールアドレスにパスワードの再設定画面のURLを記載したメールをお送りします。よろしいですか？<br>
	(パスワード再設定前にメールの受信設定のご確認をお願いします。)<br>
	We will send an email containing a link to the password reset page to the email address below. Is this OK? <br>
	(Please check your email settings before resetting your password.)<br>
	<br>
	<form method="post" action="/login/reissuePasswordFinish/">
		<div class="div_form">
			<label class="lb_form">メールアドレス / email</label>
			<div class="input_form">{$input_data.email}</div>
		</div>
		<br>
		<div class="div_input_button">
			<input type="submit" value="発行する / issue" class="input_button">
			<input type="button" value="戻　　る / Back" class="input_button" onclick="window.history.back();">
		</div>

	</form>

</div>