<div>
	
	{* パスワードの再設定 共通ヘッダ *}
	{include file="`$smarty.const.VIEW_DIR`/common/reissue_password_header.html"}

	<div class="h_form">
		登録情報の入力<br><br>
		Enter registration information
	</div>
	<br>
	メールを送信しました。<br>
	メールの「再設定URL」をクリックし、パスワードの再設定をお願いいたします。<br>
	An email has been sent. <br>
	Please click the "Reset URL" in the email to reset your password. <br>
	<br>
	<br>
	<div class="div_input_button">
		<input type="button" value="ログインへ / Go to Log in " class="input_button" onclick="location.href='/login/'">
	</div>

</div>