<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="robots" content="noindex">
<link rel="icon" href="../../image/rise.ico">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" />
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="/../../css/style.css" />
<link rel="stylesheet" type="text/css" media="screen,print" href="../../css/style_watermark.css" />

<title>
	{if isset($site_title)}
		{$site_title}
	{else}
		{$smarty.const.SITE_NAME}
	{/if}
</title>

<header>

	<div class="site_name"><a href="{$smarty.const.WEB_SRC}" class="site_name">{$smarty.const.SITE_NAME}</a></div>

</header>
