<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="robots" content="noindex">
<link rel="icon" href="../../image/rise.ico">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" />
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="/../../css/style.css" />
<link rel="stylesheet" type="text/css" media="screen,print" href="../../css/style_watermark.css" />

<title>
	{if isset($site_title)}
		{$site_title}
	{else}
		{$smarty.const.SITE_NAME}
	{/if}
</title>

<header>

	<div class="site_name"><a href="{$smarty.const.WEB_SRC}" class="site_name">{$smarty.const.SITE_NAME}</a></div>
	{if isset($login_user) && $login_user}
		<form method="post" action="/login/changeLang/" class="header-lang-form">
			<input type="hidden" name="redirect_url" value="{$smarty.server.REQUEST_URI|escape}">
			<label for="header_lang_type" class="header-lang-label">Language</label>
			<select id="header_lang_type" name="lang_type" onchange="this.form.submit()">
				{foreach from=$lang_types key=lang_type item=lang_name}
					<option value="{$lang_type}" {if $login_user->lang_type == $lang_type}selected{/if}>{$lang_name}</option>
				{/foreach}
			</select>
		</form>
	{/if}

</header>
