	<ul>
		<li>{$smarty.const.SITE_NAME}</li>
		<li><a href="{UtilCommon::get_base_url('top')}" class="btn4">ダッシュボード</a></li>
		{if isset($login_user->auth_type)}
			
			{if $smarty.const.PARAM_CONST_AUTH_TYPE_ADMIN == $login_user->auth_type}

				{* 管理者用 *}
				<li><a href="{UtilCommon::get_base_url('achieve')}" >実績入力</a></li>
				<li><a href="{UtilCommon::get_base_url('masterData')}" class="btn4">マスタ管理</a></li>
				<li><a href="{UtilCommon::get_base_url('user')}" class="btn4">ユーザ管理</a></li>
				<li><a href="{UtilCommon::get_base_url('dataOutput')}" class="btn4">データ出力</a></li>

			{else if $smarty.const.PARAM_CONST_AUTH_TYPE_NORMAL == $login_user->auth_type}

				{* 一般用 *}
				<li><a href="{UtilCommon::get_base_url('achieve')}" >実績入力</a></li>			
				
			{/if}

			<li>|</li>
			<li><a href="{UtilCommon::get_base_url('user', 'updPasswordForm')}" class="btn4">パスワード更新</a></li>
			<li><a href="{UtilCommon::get_base_url('login', 'logout')}" class="btn4">ログアウト</a></li>
			<li class="user_admin">{$login_user->name}&nbsp;&nbsp;|&nbsp;&nbsp;{$login_user->auth_type_name}</li>

		{else}
			<li>|</li>
			<li><a href="{UtilCommon::get_base_url('login', 'logout')}" class="btn4">ログアウト</a></li>

		{/if}
	</ul>