<div class="panel">
	<div class="panel-heading">
		<div class="div_title_are">
			<h3 class="panel-title">アサイン サマリ</h3>
		</div>
	</div>
	<div class="panel-body">

		<table class="table table-striped">
			<thead>
				<tr>
					<th rowspan="2" style="width: 12%;">
						{UtilCommon::gen_sort_button('現場日付', 'location_date')}
					</th>
					<th rowspan="2" style="width: 12%;">
						{UtilCommon::gen_sort_button('現場名', 'name')}
					</th>
					<th colspan="3" style="text-align: center;">アサイン済み</th>
					<th colspan="2" style="text-align: center;">未アサイン</th>
				</tr>
				<tr>
					<th style="width: 4%;">合計</th>
					<th style="width: 8%;">性別内訳</th>
					<th style="width: 12%;">資格内訳</th>
					<th style="width: 8%;">性別内訳</th>
					<th style="width: 12%;">資格内訳</th>
				</tr>
			</thead>
			<tbody>
				{if $summaries}

					{foreach from=$summaries item=summary}
						<tr style="background-color: #f9f9f9; font-weight: bold;">
							<td>{$summary->location_date|date_format:'%Y年%m月%d日'}（{UtilCommon::get_yb($summary->location_date)}）</td>
							<td>{$summary->location_name}</td>
							<td>{$summary->assign_amount} 名</td>
							<td>
								{foreach from=$summary->genders item=gender}
									{$gender.name} : {$gender.amount} 名<br>
								{/foreach}
							</td>
							<td>
								{foreach from=$summary->certs item=cert}
									{$cert.name} : {$cert.amount} 名<br>
								{/foreach}
							</td>
							<td>
								{foreach from=$summary->request_genders item=request_gender}
									{$request_gender.name} : {$request_gender.amount} 名<br>
								{/foreach}
							</td>
							<td>
								{foreach from=$summary->request_certs item=request_cert}
									{$request_cert.name} : {$request_cert.amount} 名<br>
								{/foreach}
							</td>
						</tr>
						{foreach from=$summary->location_shifts item=location_shift}
							<tr style="background-color: #ffffff; font-size: 11px;">
								<td></td>
								<td> └ {$location_shift->location_shift_name}</td>
								<td> └ {$location_shift->assign_amount} 名</td>
								<td>
									{foreach from=$location_shift->genders item=gender}
										 └ {$gender.name} : {$gender.amount} 名<br>
									{/foreach}
								</td>
								<td>
									{foreach from=$location_shift->certs item=cert}
										 └ {$cert.name} : {$cert.amount} 名<br>
									{/foreach}
								</td>
								<td>
									{foreach from=$location_shift->request_genders item=request_gender}
										 └ {$request_gender.name} : {$request_gender.amount} 名<br>
									{/foreach}
								</td>
								<td>
									{foreach from=$location_shift->request_certs item=request_cert}
										 └ {$request_cert.name} : {$request_cert.amount} 名<br>
									{/foreach}
								</td>
							</tr>
						{/foreach}
					{/foreach}
				{else}
					<tr>
						<td colspan="">現場が登録されていません。</td>
					</tr>					
				{/if}
			</tbody>
		</table>
	</div>
</div>

{* ページャ *}
<div align="center" style="margin-top: 10px; margin-bottom: 10px;">
	{$pager->put_link_tag()}
</div>