{* jsForm *}
{include file="`$smarty.const.ADMIN_VIEW_DIR`/common/form_exec_js.html"}

<div class="panel">
	
	<div class="panel-heading">
		<h3 class="panel-title">現場シフト登録</h3>
	</div>
	
	<div class="panel-body">

		現場シフト情報を入力してください。<br />
		<br />

		{if isset($error_messages)}
			{foreach from=$error_messages item=$error_message}
			<div class="alert alert-danger alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
				<i class="fa fa-times-circle"></i> {$error_message}<br>
			</div>
			{/foreach}
		{/if}

		{* フォーム *}
		<form method="post" action="/location/shiftAddFinish/" id="frm" name="frm" novalidate="novalidate">
			<table class="input_form">
				<tbody>
					<tr>
						<th>
							現場<span class="reqire">*</span>
						</th>
						<td>
							{assign var="input_location_id" value=""}
							{if isset($smarty.post.location_id)}
								{assign var="input_location_id" value=$smarty.post.location_id}
							{/if}
							<select name="location_id" class="form-control">
								{foreach from=$locations item=location}
									<option value="{$location->id}" {if $location->id == $input_location_id}selected{/if}>{$location->location_date|date_format:'%Y年%m月%d日'} {$location->name}</option>
								{/foreach}
							</select>
						</td>
					</tr>
					<tr>
						<th>
							現場シフト名<span class="reqire">*</span>
						</th>
						<td>
							{assign var="input_name" value=""}
							{if isset($smarty.post.name)}
								{assign var="input_name" value=$smarty.post.name}
							{/if}
							<input type="text" name="name" class="form-control" placeholder="日勤・・・など" value="{$input_name}">
						</td>
					</tr>
					<tr>
						<th>
							シフト時間<span class="reqire">*</span>
						</th>
						<td>
							{assign var="input_shift_date_from" value=""}
							{if isset($smarty.post.shift_date_from)}
								{assign var="input_shift_date_from" value=$smarty.post.shift_date_from}
							{/if}
							<input type="date" name="shift_date_from" class="form-control" placeholder="" value="{$input_shift_date_from}" style="width: 150px;">
							{assign var="input_shift_time_from" value=""}
							{if isset($smarty.post.shift_time_from)}
								{assign var="input_shift_time_from" value=$smarty.post.shift_time_from}
							{/if}
							<select name="shift_time_from" class="form-control" style="width: 100px;">
								{section name=from_hour start=0 loop=24}
									<option value="{$smarty.section.from_hour.index}:00" checked="">{$smarty.section.from_hour.index}:00</option>
								{/section}
							</select>
							
							〜
							{assign var="input_shift_date_to" value=""}
							{if isset($smarty.post.shift_date_to)}
								{assign var="input_shift_date_to" value=$smarty.post.shift_date_to}
							{/if}
							<input type="date" name="shift_date_to" class="form-control" placeholder="" value="{$input_shift_date_to}" style="width: 150px;">
							{assign var="input_shift_time_to" value=""}
							{if isset($smarty.post.shift_time_to)}
								{assign var="input_shift_time_to" value=$smarty.post.shift_time_to}
							{/if}
							<select name="shift_time_to" class="form-control" style="width: 100px;">
								{section name=from_hour start=0 loop=24}
									<option value="{$smarty.section.from_hour.index}:00" checked="">{$smarty.section.from_hour.index}:00</option>
								{/section}
							</select>
						</td>
					</tr>
					<tr>
						<th>備考</th>
						<td>
							{assign var="input_note" value=""}
							{if isset($smarty.post.note)}
								{assign var="input_note" value=$smarty.post.note}
							{/if}
							<textarea name="note" class="form-control" rows="6">{$input_note}</textarea>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
		<br />
		<div class="frm_btn_area">
			<button type="button" class="btn btn-default" onclick="javascript:history.back();">戻る</button>
			<button type="button" class="btn btn-primary" onclick="add_exec();">登録</button>
		</div>
	</div>
</div>
