<div class="page_titile">
	{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
		従事者情報詳細
	{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
		Employee information details
	{/if}
</div>
<div class="header_detail">
	{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
		登録中の従事者情報をご確認いただけます。<br>
		また、内容の変更もこちらから行なっていただけます。
	{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
		You can check the employee information you are currently registering. <br>
		You can also make changes to the information here. 
	{/if}
	<br>
</div>
<hr>