<div id="sub">

<nav>
<h2>事業内容</h2>
<ul class="submenu">
<li><a href="#">事業内容A</a></li>
<li><a href="#">事業内容B</a></li>
<li><a href="#">事業内容C</a></li>
</ul>
</nav>

<!-- <section class="mb15">

<h2>製品情報</h2>

<div class="list">
<a href="item.html">
<figure><img src="images/sample1.jpg" alt="製品名"></figure>
<h4>製品情報</h4>
<p>簡単な説明をここに入れます。</p>
</a>
</div>

<div class="list">
<a href="item.html">
<figure><img src="images/sample1.jpg" alt="製品名"></figure>
<h4>製品情報</h4>
<p>簡単な説明をここに入れます。</p>
</a>
</div>

<div class="list">
<a href="item.html">
<figure><img src="images/sample1.jpg" alt="製品名"></figure>
<h4>製品情報</h4>
<p>簡単な説明をここに入れます。</p>
</a>
</div>

</section> -->

<section class="box">
<h2>会社情報</h2>
<p class="c"><strong>株式会社SAMPLE COMPANY</strong><br>
<span class="mini1">東京都XX区XXXXビル3F<br>
TEL:03-0000-0000<br>
(AM9:00〜PM5:00 土日祝休み)</span></p>
</section>

</div>