{$name} 様

この度は千葉県防疫作業にエントリー頂き誠にありがとうございました。
千葉県防疫作業へのエントリーが承認されましたので、お知らせいたします。

━━━━━━━━━━━━━━━━━
■エントリーいただいた従業者情報

氏名：{$name}
ふりがな : {$name_kana}
電話番号 : {$tel}
メールアドレス：{$email}
郵便番号 : {$post_code}
住所 : {$address}
生年月日 : {$birth_day|date_format:"%Y年%m月%d日"}生
性別 : {$gender_type_name}
国籍 : {$country_name}
雇用形態 : {$employ_type_name}
所属会社名 : {$company_name}
━━━━━━━━━━━━━━━━━

メールアドレスおよびパスワードは、サービスにログインする際に必要となりますので
忘れず保管をお願いいたします。

▼ログインはこちら
{$smarty.const.WEB_SRC}/login/

{include file="`$smarty.const.VIEW_DIR`/mail/text/signature.html"}