{$email} 様

パスワード再発行フォームより再発行申請を確認いたしました。

下記の「再設定URL」をより、パスワードの再設定をお願いいたします。

---------------------------------------------

▼再設定URL
{$url}

---------------------------------------------

※「再設定URL」の有効期間は当メール通知から24時間です。
　当メール通知から24時間以上経過した場合、URLは無効になります。

※24時間を経過した後に再設定を行う場合は、
　再度、パスワード再設定手続きをお手続きください。

宜しくお願いいたします。

--

Dear {$email},

We have confirmed your password reissue request via the password reissue form.

Please reset your password using the "Reset URL" below.

---------------------------------------------

▼Reset URL
{$url}

---------------------------------------------

※The "reset URL" is valid for 24 hours from the date of this email notification.
The URL will become invalid if more than 24 hours have passed since this email notification was sent.

※If you wish to reset your password after 24 hours have passed,
please go through the password reset procedure again.

Thank you for your cooperation.

{include file="`$smarty.const.VIEW_DIR`/mail/text/signature.html"}