<div>
	<div class="page_titile">
		{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $lang_type}
			新規従事者の登録
		{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $lang_type}
			New registration
		{/if}
	</div>
	<br>
	<hr>
	<div class="h_form">
		{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $lang_type}
			同意書
		{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $lang_type}
			consent form
		{/if}
	</div>
	<br>
	{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $lang_type}
		以下の注意事項をよくお読みください。<br>
		<br>
		この防疫作業は、千葉県庁からの依頼により「プロアシスト」の一員として行っていただきます。<br>
		<br>
		この防疫作業は、他の農場への鳥インフルエンザ拡大を防ぐため、やむを得ず感染源である農場の鳥を殺処分してウイルスを封じ込める目的で行われます。<br>
		放置してウイルスが拡散されると、まだ感染していない農場の鳥にまで拡がり、全滅する事も考えられます。<br>
		残酷ではありますが、他の鶏舎の鳥を守るために信念を持って作業にあたってください。<br>
		<br>
		場内では必ず千葉県職員の指示に従ってください。<br>
		県職員の方に感情的に詰め寄ったり、意見をしたりなどは絶対に行わないでください。<br>
		作業時に出る意見や相談などは、プロアシストのリーダーへ申し出てください。<br>
		<br>
		農場内での喫煙は原則禁止です。<br>
		その他も喫煙が許可されたスペース以外でのタバコは厳禁です。<br>
		<br>
		持ち物はあくまで個人管理となります。紛失や破損などは一切保証できません。<br>
		大勢の従事者が出入りしますので、貴重品などはSS（サブステーション）へも持ち込まないでください。<br>
		また、駐車場内での事故や盗難に関しても保証は致しかねます。<br>
		<br>
		発熱のある方や体調の優れない方は作業に従事できませんのでお帰りいただきます。<br>
		<br>
		養鶏場関連のお仕事をされている方は、この作業への参加はできません。<br>
		また、関連しないお仕事の方も、作業後1ヶ月間は他の鶏舎への立ち入りは厳禁です。<br>
		<br>
		作業中または作業直後に体調不良になった方は、プロアシストへご連絡をお願いいたします。<br>
		<br>
	{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $lang_type}
		Please read the following precautions carefully.<br>
		<br>
		This quarantine work will be carried out as part of "Pro Assist" at the request of the Chiba Prefectural Government.<br>
		<br>
		This quarantine work is carried out to prevent the spread of avian influenza to other farms, and is carried out with the aim of containing the virus by culling the birds on the farm that is the source of infection.<br>
		If left unchecked, the virus could spread to uninfected birds on farms, potentially resulting in their complete extinction. <br>
		Although it may be cruel, please carry out this work with conviction to protect the birds in other poultry houses. <br>
		<br>
		Please be sure to follow the instructions of Chiba Prefecture officials while on-site. <br>
		Never approach prefectural officials emotionally or express your opinions. <br>
		If you have any opinions or concerns while working, please contact the Pro Assist leader. <br>
		<br>
		Smoking is prohibited on the farm as a general rule. <br>
		Smoking is also strictly prohibited anywhere other than designated smoking areas. <br>
		<br>
		Please be sure to keep all belongings under your own care. We cannot guarantee against loss or damage. <br>
		As many staff members will be coming and going, please do not bring valuables into the SS (substation). <br>
		Furthermore, we cannot guarantee against accidents or theft that occur in the parking lot. <br>
		<br>
		Anyone with a fever or who is not feeling well will not be able to work and will be asked to go home.<br>
		<br>
		People who work in a poultry farm-related job are not permitted to participate in this work. <br>
		In addition, even if you work in a non-related job, you are strictly prohibited from entering other poultry houses for one month after the work is completed. <br>
		<br>
		If you become unwell during or immediately after work, please contact Pro Assist.<br>
		<br>
	{/if}
	<form method="post" action="/account/registAgree2" enctype="multipart/form-data">
		{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $lang_type}
			<label><input type="checkbox" name="is_agree" value="1" >&nbsp;上記に同意して遵守する</label><br>
		{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $lang_type}
			<label><input type="checkbox" name="is_agree" value="1" >&nbsp;Agree and comply with the above</label><br>
		{/if}
		{if isset($error_messages.is_agree)}
			<div class="alert">{$error_messages.is_agree}</div>
		{/if}
		<br>
		<div class="div_input_button">
			{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $lang_type}
				<input type="submit" value="次　　へ" class="input_button">
				<input type="button" value="戻　　る" class="input_button" onclick="window.history.back();">
			{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $lang_type}
				<input type="submit" value="Next" class="input_button">
				<input type="button" value="Back" class="input_button" onclick="window.history.back();">
			{/if}
		</div>
	</form>
</div>