<div>
	<div class="page_titile">
		{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $lang_type}
			新規従事者の登録
		{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $lang_type}
			New registration
		{/if}
	</div>
	<br>
	<hr>
	<div class="h_form">
		{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $lang_type}
			個人情報取り扱い同意書
		{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $lang_type}
			Personal Information Handling Agreement
		{/if}
	</div>
	<br>
	{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $lang_type}
		株式会社ＲＩＳＥ(以下「プロアシスト」)では、お預かりした個人情報について、以下のとおり適正かつ安全に管理・運用することに努めます。<br>
		<br>
		１．利用目的<br>
		<br>
		プロアシストでは収集した個人情報について、以下の目的のために利用いたします。<br>
		出退勤及び給与計算の管理<br>
		身分証明（外国籍の方は就労制限）の管理<br>
		資格情報の管理（車両・フォークリフト・玉掛・バックホー等）<br>
		次回以降緊急作業発生時の招集連絡のため<br>
		<br>
		２．第三者提供<br>
		<br>
		当社は、以下の場合を除いて、個人データを第三者へ提供することはしません。<br>
		①法令に基づく場合<br>
		②人の生命・身体・財産を保護するために必要で、本人から同意を得ることが難しい場合<br>
		③公衆衛生の向上・児童の健全な育成のために必要で、本人から同意を得ることが難しい場合<br>
		④国の機関や地方公共団体、その委託者などによる法令事務の遂行にあたって協力する必要があり、かつ本人の同意を得ることで事務遂行に影響が生じる可能性がある場合<br>
		<br>
		３．開示請求<br>
		<br>
		貴殿の個人情報について、ご本人には、開示・訂正・削除・利用停止を請求する権利があります。手続きにあたっては、ご本人確認のうえ対応させていただきますが、代理人の場合も可能です。詳細については、以下「個人情報相談窓口」へご連絡ください。<br>
		<br>
		千葉県防疫作業管理センター　個人情報相談窓口<br>
		〒297-0074千葉県茂原市小林2933-6<br>
		株式会社ＲＩＳＥ　個人情報問い合わせ窓口<br>
		TEL：0475-38-7187<br>
	{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $lang_type}
		RISE Inc. (hereinafter "Pro Assist") strives to properly and safely manage and use the personal information entrusted to it as follows. <br>
		<br>
		1. Purpose of Use<br>
		<br>
		Pro Assist uses collected personal information for the following purposes: <br>
		Management of attendance and payroll<br>
		Management of identification (employment restrictions for foreign nationals)<br>
		Management of qualifications (vehicles, forklifts, rigging, backhoes, etc.)<br>
		For future emergency work convocation notifications<br>
		<br>
		2. Provision to Third Parties<br>
		<br>
		We will not provide personal data to third parties except in the following cases:<br>
		1. When required by law<br>
		2. When it is necessary to protect the life, body, or property of an individual, and it is difficult to obtain consent from the individual<br>
		3. When it is necessary to improve public health or the healthy development of children, and it is difficult to obtain consent from the individual<br>
		4. When it is necessary to cooperate with a national government agency, local government, or their contractor in carrying out legally required duties, and obtaining the individual's consent may affect the performance of those duties<br>
		<br>
		3. Disclosure Requests<br>
		<br>
		You have the right to request the disclosure, correction, deletion, or suspension of use of your personal information. We will verify your identity before proceeding, but requests can also be made by a representative. For details, please contact the "Personal Information Consultation Desk" below.<br>
		<br>
		Chiba Prefectural Quarantine Work Management Center, Personal Information Inquiry Desk
		2933-6 Kobayashi, Mobara City, Chiba Prefecture, 297-0074
		RISE Co., Ltd., Personal Information Inquiry Desk
		TEL: 0475-38-7187<br>
	{/if}	
	<br>
	<form method="post" action="/account/registAgree3/" enctype="multipart/form-data">
		{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $lang_type}
			<label><input type="checkbox" name="is_agree" value="1" >&nbsp;個人情報の取り扱いに同意する</label>
		{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $lang_type}
			<label><input type="checkbox" name="is_agree" value="1" >&nbsp;I agree to the handling of personal information</label>
		{/if}
		<br>
		{if isset($error_messages.is_agree)}
			<div class="alert">{$error_messages.is_agree}</div>
		{/if}
		<br>
		<div class="div_input_button">
			{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $lang_type}
				<input type="submit" value="次　　へ" class="input_button">
				<input type="button" value="戻　　る" class="input_button" onclick="window.history.back();">
			{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $lang_type}
				<input type="submit" value="Next" class="input_button">
				<input type="button" value="Back" class="input_button" onclick="window.history.back();">
			{/if}
		</div>
	</form>
</div>