<div>
	<div class="page_titile">
		{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $lang_type}
			新規従事者の登録
		{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $lang_type}
			New registration
		{/if}
	</div>
	<br>
	<hr>
	<div class="h_form">
		{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $lang_type}
			秘密保持契約書（NDA）
		{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $lang_type}
			Non-Disclosure Agreement (NDA)
		{/if}
	</div>
	<br>
	{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $lang_type}
		この秘密保持契約書（以下「本契約」という）は、以下の日付において、株式会社ＲＩＳＥ（以下「甲方」という）と[乙方　{$input_data.name}]（以下「乙方」という）との間で締結される。<br>
		<br>
		甲方：株式会社ＲＩＳＥ<br>
		所在地：千葉県茂原市小林２９３３番６<br>
		代表者：仲井　琢磨<br>
		<br>
		乙方：{$input_data.name}<br>
		所在地：{$input_data.address}<br>
		<br>
		本契約の目的は、甲方が千葉県から受託した高病原性鳥インフルエンザの防疫作業（以下「本業務」という）に関連して、甲方及び乙方が取り扱う秘密情報の保護を確実にすることにある。<br>
		本契約において、以下の項目が定められる：<br>
		　1.契約の目的<br>
		　2.定義<br>
		　3.秘密情報の使用範囲と制限<br>
		　4.秘密情報の開示義務と例外<br>
		　5.期間と終了<br>
		　6.違反時の責任と救済措置<br>
		　7.一般条項<br>
		　8.署名<br>
		<br>
		以下、本契約の各条項について定める<br>
		<br>
		<div class="header_agree">１．契約の目的</div>
		<br>
		本秘密保持契約（以下「本契約」という）は、株式会社ＲＩＳＥ（以下「甲方」という）と、甲方の従業員または協力業者（以下「乙方」という）間で締結されるものである。<br>
		本契約の目的は、甲方が千葉県から受託した高病原性鳥インフルエンザ発生時の防疫作業（以下「本業務」という）に関連して、甲方及び乙方が取り扱う秘密情報の保護を確実にすることにある。<br>
		本業務は、感染鳥類の殺処分、埋却、焼却及びその補助といった、高度な専門性と機密性を要する業務である。<br>
		これに伴い、甲方及び乙方は、業務遂行に際して知り得る全ての情報、データ、技術、方法論、およびこれらに関連する一切の知識（以下「秘密情報」という）を厳格に保護し、本契約に定める条件の下でのみ使用する。<br>
		本契約により、乙方は、本業務に関連して知り得る秘密情報を第三者に開示、漏洩しないこと、また、甲方の明示的な書面による承諾なくして秘密情報を本業務以外の目的で使用しないことに同意する。<br>
		これは、甲方の業務の機密性を保持し、関連する法的義務および倫理的責任を遵守するために不可欠である。<br>
		<br>

		<div class="header_agree">２．定義</div>
		<br>
		2.1.秘密情報の定義<br>
		<br>
		本契約における「秘密情報」とは、甲方が千葉県から受託した高病原性鳥インフルエンザの防疫作業に関連して、甲方及び乙方が業務遂行中に知り得る一切の情報を指す。<br>
		これには限られないが、以下の情報が含まれる：<br>
		　・感染鳥類の殺処分、埋却、焼却及びその補助に関する技術的詳細<br>
		　・作業プロトコル、手順、方法論<br>
		　・研究データ、統計、分析結果<br>
		　・法規制、安全基準、環境保護に関する情報<br>
		　・業務に関連する内部通信、メモ、記録 秘密情報は、口頭、書面、電子媒体、またはその他の形式で提供されることがある。<br>
		<br>
		2.2.例外情報の定義<br>
		<br>
		以下の情報は、「秘密情報」から除外される：<br>
		　・乙方が本契約の締結前に既に知っていた情報<br>
		　・本契約の締結時に、またはその後、一般に公知または公開された情報（乙方の不正行為による公開を除く）<br>
		　・乙方が、甲方からの情報提供とは独立して、第三者から適法に入手した情報<br>
		　・乙方が、本契約による制限なしで開発または発見した情報<br>
		<br>

		<div class="header_agree">３．秘密情報の使用範囲と制限</div>
		<br>
		3.1.秘密情報の使用目的<br>
		<br>
		乙方は、秘密情報を本業務の遂行にのみ使用することを承諾する。<br>
		具体的には、高病原性鳥インフルエンザの防疫作業に関連する業務遂行、作業の計画立案、実施、報告のためにのみ秘密情報を使用し、これらの目的以外での使用は禁じられる。<br>
	　　<br>	
		3.2.秘密情報の扱いと保護措置<br>
		<br>
		乙方は、秘密情報を厳格に保護し、その安全と機密性を維持する責任を負う。これには以下の措置が含まれる：<br>
		　・秘密情報のアクセスを必要最低限の従業員に限定し、その従業員に対して秘密保持義務を課す。<br>
		　・秘密情報を保存、複製する際には、適切なセキュリティ対策を講じる。<br>
		　・秘密情報の漏洩、不正使用、盗難を防ぐための物理的及び電子的セキュリティ対策を実施する。<br>
		　・秘密情報の取り扱いに関する内部ポリシーとプロトコルを確立し、遵守する。<br>
		　・本契約の終了後、または甲方からの要請により、秘密情報を安全に廃棄または甲方に返還する。<br>
	　　<br>

		<div class="header_agree">４．秘密情報の開示義務と例外</div>
		<br>
		4.1.開示義務の範囲<br>
		<br>
		乙方は、秘密情報を第三者に開示しないことを承諾する。ただし、以下の条件下での開示は許可される：<br>
		　・甲方が書面により明示的に許可した場合。<br>
		　・乙方の従業員、顧問、または協力業者が、本業務を遂行する上で秘密情報の知識を必要とする場合。この場合、該当する第三者にも同等の秘密保持義務を課す。<br>
		<br>
		4.2.法的要求による開示の場合の取り扱い<br>
		<br>
		法的要求により秘密情報の開示が必要となる場合、乙方は以下の手順に従う：<br>
		　・乙方は、可能な限り迅速に甲方に通知し、要求の詳細を提供する。<br>
		　・甲方の指示に従い、開示の範囲を最小限に留める。<br>
		　・必要に応じて、甲方が秘密情報の開示に反対するための法的措置をとる機会を提供する。<br>
		　・開示される情報は、明確に「秘密情報」としてマークし、受領者に対して秘密保持の義務を通知する。<br>
		<br>

		<div class="header_agree">５．期間と終了</div>
		<br>
		5.1.契約の有効期間<br>
		<br>
		本契約は、両当事者間で署名された日から効力を発し、5年間有効とする。<br>
		ただし、甲方及び乙方は相互の合意により、この期間を延長することができる。<br>
		<br>
		5.2.契約終了後の秘密情報の扱い<br>
		<br>
		本契約の終了後、乙方は以下の義務を負う：<br>
		　・甲方の指示に従い、保有するすべての秘密情報を返還するか、安全に破棄する。この場合、破棄の証明書を甲方に提出する。<br>
		　・秘密情報の開示、使用、複製の全ての権利を放棄する。<br>
		　・本契約終了後も、秘密情報に関する保護義務は、契約終了前に知り得た情報について継続する。<br>
		　・本契約の終了は、乙方が本契約に基づいて負う義務から解放されることを意味しない。<br>
		<br>

		<div class="header_agree">６．違反時の責任と救済措置</div>
		<br>
		6.1.違反時の責任<br>
		<br>
		乙方が本契約の条項に違反した場合、乙方はその違反によって甲方に生じた全ての損害に対して責任を負う。<br>
		これには直接的損害及び間接的損害（逸失利益、信用失墜など）が含まれる。<br>
		乙方の違反が故意または重大な過失によるものであった場合、乙方はさらに重い責任を負うこととなる。<br>
		<br>
		6.2.救済措置や違約金に関する条項<br>
		<br>
		甲方は、乙方の契約違反により発生した損害に対し、適切な賠償を求める権利を有する。<br>賠償金額は、違反の性質と損害の範囲に基づき、合理的に決定される。<br>
		甲方は、契約違反に対する予防措置として、違約金の支払いを要求することができる。<br>
		違約金の額は、契約締結時に両当事者間で合意される。<br>
		甲方は、乙方の契約違反に対し、差止命令またはその他の法的救済を求める権利を有する。<br>
		<br>

		<div class="header_agree">７．一般条項</div>
		<br>
		7.1.権利義務の譲渡禁止<br>
		<br>
		本契約に基づく甲方及び乙方の権利および義務は、第三者に譲渡、移転、または委任することはできない。<br>
		ただし、甲方または乙方が書面による事前の同意を得た場合はこの限りではない。<br>
		本契約の権利および義務の不正な譲渡は、契約の無効を招く可能性がある。<br>
		<br>
		7.2.適用法と紛争解決<br>
		<br>
		本契約は日本国法に準拠し、その法律に従って解釈される。<br>
		本契約に関して生じる一切の紛争は、まずは両当事者間の協議によって解決を図ることとする。<br>
		協議による解決が不可能な場合、紛争は千葉地方裁判所の管轄に属することとする。<br>
		本契約に関連する訴訟費用、弁護士費用を含む一切の費用は、敗訴した当事者が負担する。<br>
		<br>

		<div class="header_agree">８．署名</div>
		<br>
		本秘密保持契約における各条項は、以下の署名により、両当事者間で合意されたものとする。<br>
		本契約は、下記の日付に署名された時点で有効となる。<br>
		<br>	
		甲方：<br>
		株式会社ＲＩＳＥ<br>
		署名：仲井　琢磨<br>
		日付：{$smarty.now|date_format:'%Y年%m月%d日'}<br>
		<br>
		乙方：<br>
		署名：{$input_data.name}<br>
		日付：{$smarty.now|date_format:'%Y年%m月%d日'}<br>
	{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $lang_type}
		This Non-Disclosure Agreement (hereinafter referred to as the "Agreement") is entered into as of the date below between RISE Corporation (hereinafter referred to as the "Disclosing Party") and [Recipient: {$input_data.name}] (hereinafter referred to as the "Receiving Party").<br>
		<br>
		Disclosing Party:<br>
		RISE Corporation<br>
		Address: 2933-6 Kobayashi, Mobara City, Chiba Prefecture<br>
		Representative: Takuma Nakai<br>
		<br>
		Receiving Party:<br>
		{$input_data['name']}<br>
		Address: {$input_data['address']}<br>
		<br>
		Purpose of the Agreement<br>
		The purpose of this Agreement is to ensure the protection of confidential information handled by the Disclosing Party and the Receiving Party in relation to the avian influenza prevention operations (hereinafter referred to as the "Project") commissioned by Chiba Prefecture to the Disclosing Party.<br>
		<br>
		This Agreement stipulates the following terms:<br>
		　1.Purpose of the Agreement<br>
		　2.Definitions<br>
		　3.Scope and Restrictions on Use of Confidential Information<br>
		　4.Disclosure Obligations and Exceptions<br>
		　5.Term and Termination<br>
		　6.Liability and Remedies for Breach<br>
		　7.General Provisions<br>
		　8.Signatures<br>
		<br>
		The terms of this Agreement are as follows:<br>
		<br>
		1. Purpose of the Agreement<br>
		This Non-Disclosure Agreement (hereinafter referred to as the "Agreement") is entered into between RISE Corporation (hereinafter referred to as the "Disclosing Party") and its employees or contractors (hereinafter referred to as the "Receiving Party").<br>
		<br>
		The purpose of this Agreement is to ensure the protection of confidential information handled by the Disclosing Party and the Receiving Party in relation to the avian influenza prevention operations (hereinafter referred to as the "Project") commissioned by Chiba Prefecture to the Disclosing Party.<br>
		<br>
		The Project involves highly specialized and confidential tasks, including the culling, burial, incineration, and related support of infected birds. Accordingly, the Disclosing Party and the Receiving Party shall strictly protect all information, data, techniques, methodologies, and related knowledge (hereinafter referred to as "Confidential Information") obtained during the execution of the Project and shall use such information only under the conditions set forth in this Agreement.
		<br>
		By this Agreement, the Receiving Party agrees not to disclose or leak any Confidential Information obtained in connection with the Project to any third party and not to use such information for any purpose other than the Project without the Disclosing Party’s prior written consent. This is essential to maintaining the confidentiality of the Disclosing Party’s operations and complying with legal and ethical obligations.<br>
		<br>
		2. Definitions<br>
		2.1. Definition of Confidential Information<br>
		"Confidential Information" under this Agreement refers to all information obtained by the Disclosing Party and the Receiving Party during the execution of the avian influenza prevention operations commissioned by Chiba Prefecture. This includes, but is not limited to:<br>
		・Technical details related to the culling, burial, and incineration of infected birds<br>
		・Work protocols, procedures, and methodologies<br>
		・Research data, statistics, and analysis results<br>
		・Legal regulations, safety standards, and environmental protection information<br>
		・Internal communications, memos, and records related to the Project<br>
		・Confidential Information may be provided orally, in writing, electronically, or in any other form.<br>
		<br>
		2.2. Excluded Information<br>
		The following information shall not be considered "Confidential Information":<br>
		・Information already known to the Receiving Party prior to signing this Agreement<br>
		・Information that becomes publicly available after the execution of this Agreement (unless due to the Receiving Party’s misconduct)<br>
		・Information lawfully obtained by the Receiving Party from a third party without confidentiality restrictions<br>
		・Information independently developed or discovered by the Receiving Party without reliance on the Disclosing Party’s information<br>
		<br>
		3. Scope and Restrictions on Use of Confidential Information<br>
		3.1. Permitted Use<br>
		The Receiving Party shall use Confidential Information solely for the execution of the Project. Specifically, such information shall only be used for planning, implementing, and reporting on avian influenza prevention operations. Any use beyond this scope is prohibited.<br>
		<br>
		3.2. Handling and Protection Measures<br>
		・The Receiving Party shall strictly protect Confidential Information and maintain its security and confidentiality. This includes:<br>
		・Limiting access to only necessary personnel and imposing confidentiality obligations on them<br>
		・Implementing appropriate security measures when storing or reproducing Confidential Information<br>
		・Enforcing physical and electronic security measures to prevent leaks, misuse, or theft<br>
		・Establishing and adhering to internal policies and protocols for handling Confidential Information<br>
		・Safely disposing of or returning Confidential Information upon termination of this Agreement or upon the Disclosing Party’s request<br>
		<br>
		4. Disclosure Obligations and Exceptions<br>
		4.1. Scope of Disclosure Restrictions<br>
		The Receiving Party shall not disclose Confidential Information to any third party, except under the following conditions:<br>
		・With the Disclosing Party’s prior written consent<br>
		・To employees, advisors, or contractors who require such information for the Project, provided they are bound by equivalent confidentiality obligations<br>
		<br>
		4.2. Legally Required Disclosure<br>
		If disclosure is required by law, the Receiving Party shall:<br>
		・Promptly notify the Disclosing Party and provide details of the request<br>
		・Follow the Disclosing Party’s instructions to minimize the scope of disclosure<br>
		・Allow the Disclosing Party an opportunity to oppose the disclosure legally<br>
		・Mark disclosed information as "Confidential" and notify recipients of their confidentiality obligations<br>
		<br>
		5. Term and Termination<br>
		5.1. Effective Period<br>
		This Agreement shall take effect upon signing and remain valid for five (5) years, unless extended by mutual written agreement.<br>
		<br>
		5.2. Post-Termination Obligations<br>
		Upon termination, the Receiving Party shall:<br>
		・Return or securely destroy all Confidential Information as instructed by the Disclosing Party and provide proof of destruction<br>
		・Cease all use, reproduction, or disclosure of Confidential Information<br>
		・Continue to protect Confidential Information obtained prior to termination<br>
		<br>
		6. Liability and Remedies for Breach<br>
		6.1. Liability for Breach<br>
		If the Receiving Party breaches this Agreement, it shall be liable for all damages (including direct and indirect losses) incurred by the Disclosing Party. Willful or grossly negligent breaches may result in heightened liability.<br>
		<br>
		6.2. Remedies and Penalties<br>
		The Disclosing Party may seek compensation, injunctive relief, or other legal remedies for breaches. Penalties shall be determined based on the nature and extent of the breach.<br>
		<br>
		7. General Provisions<br>
		7.1. Non-Assignment<br>
		Neither party may assign its rights or obligations under this Agreement without prior written consent.<br>
		<br>
		7.2. Governing Law and Dispute Resolution<br>
		This Agreement shall be governed by Japanese law. Any disputes shall first be resolved through negotiation, failing which they shall be submitted to the Chiba District Court. The losing party shall bear all legal costs.<br>
		<br>
		8. Signatures<br>
		This Agreement shall take effect upon signing by both parties.<br>
		<br>
		Disclosing Party:<br>
		RISE Corporation<br>
		Signature: Takuma Nakai<br>
		Date: {$smarty.now|date_format:"%B %e, %Y"}<br>
		<br>
		Receiving Party:<br>
		Signature: {$input_data.name}<br>
		Date: {$smarty.now|date_format:"%B %e, %Y"}	<br>
	{/if}
	<br>
	<form method="post" action="/account/registConfirm/" enctype="multipart/form-data">

		{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $lang_type}
			<label><input type="checkbox" name="is_agree" value="1" >&nbsp;秘密保持契約書（NDA）に同意する</label>
		{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $lang_type}
			<label><input type="checkbox" name="is_agree" value="1" >&nbsp;Accept the Non-Disclosure Agreement (NDA)</label>
		{/if}
		<br>
		{if isset($error_messages.is_agree)}
			<div class="alert">{$error_messages.is_agree}</div>
		{/if}
		<br>
		<div class="div_input_button">
			{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $lang_type}
				<input type="submit" value="次　　へ" class="input_button">
				<input type="button" value="戻　　る" class="input_button" onclick="window.history.back();">
			{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $lang_type}
				<input type="submit" value="Next" class="input_button">
				<input type="button" value="Back" class="input_button" onclick="window.history.back();">
			{/if}
		</div>
	</form>
</div>