{* jsForm *}
{include file="`$smarty.const.ADMIN_VIEW_DIR`/common/form_exec_js.html"}

<div class="panel">
	
	<div class="panel-heading">
		<h3 class="panel-title">資格証明書マスタ更新</h3>
	</div>
	
	<div class="panel-body">

		マスタ情報を入力してください。<br />
		<br />

		{if isset($error_messages)}
			{foreach from=$error_messages item=$error_message}
			<div class="alert alert-danger alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
				<i class="fa fa-times-circle"></i> {$error_message}<br>
			</div>
			{/foreach}
		{/if}

		{* フォーム *}
		<form method="post" action="{UtilCommon::get_base_url('masterData', 'certUpdFinish')}" id="frm" name="frm" novalidate="novalidate">
			<input type="hidden" name="id" value="{$cert->id}" />
			<table class="input_form">
				<tbody>
					<tr>
						<th>
							名称<span class="reqire">*</span>
						</th>
						<td>
							{if isset($smarty.post.name)}
								{assign var="input_name" value=$smarty.post.name}
							{else}
								{assign var="input_name" value=$cert->name}
							{/if}
							<input type="text" name="name" class="form-control" placeholder="XX免許証" value="{$input_name}">
						</td>
					</tr>
					<tr>
						<th>
							名称（略称）<span class="reqire">*</span>
						</th>
						<td>
							{if isset($smarty.post.short_name)}
								{assign var="input_short_name" value=$smarty.post.short_name}
							{else}
								{assign var="input_short_name" value=$cert->short_name}
							{/if}
							<input type="text" name="short_name" class="form-control" placeholder="XX" value="{$input_short_name}">
						</td>
					</tr>
					<tr>
						<th>手当</th>
						<td>
							{if isset($smarty.post.allowance)}
								{assign var="input_allowance" value=$smarty.post.allowance}
							{else}
								{assign var="input_allowance" value=$cert->allowance}
							{/if}
							<input type="number" name="allowance" class="form-control" placeholder="10000" min="10" value="{$input_allowance}">
						</td>
					</tr>
				</tbody>
			</table>
		</form>
		<br />
		<div class="frm_btn_area">
			<button type="button" class="btn btn-default" onclick="javascript:history.back();">戻る</button>
			<button type="button" class="btn btn-primary" onclick="upd_exec();">更新</button>
		</div>
	</div>
</div>