{* jsForm *}
{include file="`$smarty.const.ADMIN_VIEW_DIR`/common/form_exec_js.html"}

<div class="panel">
	
	<div class="panel-heading">
		<h3 class="panel-title">所属マスタ削除</h3>
	</div>
	
	<div class="panel-body">

		{if $is_del}
			以下のマスタを削除します。よろしいですか？
		{else}
			マスタに紐づくデータがあるため、削除できません。
		{/if}
		<br /><br />

		{if isset($error_messages)}
			{foreach from=$error_messages item=$error_message}
			<div class="alert alert-danger alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
				<i class="fa fa-times-circle"></i> {$error_message}<br>
			</div>
			{/foreach}
		{/if}

		{* フォーム *}
		<form method="post" action="{UtilCommon::get_base_url('masterData', 'companyDelFinish')}" id="frm" name="frm" novalidate="novalidate">
			<input type="hidden" name="id" value="{$company->id}" />
			<table class="input_form">
				<tbody>
					<tr>
						<th>名称</th>
						<td>{$company->name}</td>
					</tr>
				</tbody>
			</table>
		</form>
		<br />
		<div class="frm_btn_area">
			<button type="button" class="btn btn-default" onclick="javascript:history.back();">戻る</button>
			{if $is_del}
				<button type="button" class="btn btn-primary" onclick="del_exec();">削除</button>
			{else}
				<button type="button" class="btn btn-primary" disabled>削除できません</button>
			{/if}
		</div>
	</div>
</div>