<script type="text/javascript">

$(function() {

	$('#button_csv_export').click(function() {
		$('#csv_export').submit();
	});

});
	
</script>

<div class="panel">
	<div class="panel-heading">
		<h3 class="panel-title">源泉徴収金額マスタ一覧</h3>
	</div>
	<div class="panel-body">
		<div class="frm_btn_area_left">
			<button type="button" class="btn btn-primary" onclick="location.href='/masterData/withholdTaxAddForm/'">新規作成</button>
			<button type="button" class="btn btn-primary" id="button_csv_export">CSV出力</button>
			<form method="post" action="/masterData/withholdTaxListCsvExport/" id="csv_export" name="frmCsv" novalidate="novalidate">
			</form>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th style="width: 5%;">
						{UtilCommon::gen_sort_button('#', 'id')}
					</th>
					<th style="width: 8%;">
						{UtilCommon::gen_sort_button('種別', 'calc_type')}
					</th>
					<th style="width: 12%;">
						{UtilCommon::gen_sort_button('金額範囲', 'amount_range_from')}
					</th>
					<th style="width: 12%;">
						{UtilCommon::gen_sort_button('金額割合', 'amount_ratio')}
					</th>
					<th style="width: 8%;">
						{UtilCommon::gen_sort_button('税金', 'tax_amount')}
					</th>
					<th style="width: 12%;">
						{UtilCommon::gen_sort_button('作成日', 'create_date')}
					</th>
					<th style="width: 12%;">
						{UtilCommon::gen_sort_button('更新日', 'update_date')}
					</th>
					<th style="width: 15%;">操作</th>
				</tr>
			</thead>
			<tbody>
				{if $withhold_taxs}
					{foreach from=$withhold_taxs item=withhold_tax}
						<tr>
							<td>{$withhold_tax->id}</td>
							<td>{$withhold_tax_calc_types[$withhold_tax->calc_type]}</td>
							<td>¥{$withhold_tax->amount_range_from|number_format} 〜 ¥{$withhold_tax->amount_range_to|number_format}</td>
							<td>
								{if $smarty.const.WITHHOLD_TAX_CALC_TYPE_RATIO == $withhold_tax->calc_type} 
									{$withhold_tax->amount_ratio}
								{else}
									---
								{/if}
							</td>
							<td>
								{if $smarty.const.WITHHOLD_TAX_CALC_TYPE_RAGE == $withhold_tax->calc_type} 
									¥{$withhold_tax->tax_amount|number_format}
								{else}
									---
								{/if}
							</td>
							<td>{$withhold_tax->create_date|date_format:'%Y/%m/%d %H:%M:%S'}</td>
							<td>{$withhold_tax->update_date|date_format:'%Y/%m/%d %H:%M:%S'}</td>
							<td>
								<a href="/masterData/withholdTaxUpdForm/?id={$withhold_tax->id}" class="btn btn-info btn-xs">更新</a>
								<a href="/masterData/withholdTaxDelConfirm/?id={$withhold_tax->id}" class="btn btn-info btn-xs">削除</a>
							</td>
						</tr>
					{/foreach}
				{else}
					<tr>
						<td colspan="8">源泉徴収金額マスタが登録されていません。</td>
					</tr>					
				{/if}
			</tbody>
		</table>
	</div>
</div>

{* ページャ *}
<div align="center" style="margin-top: 10px; margin-bottom: 10px;">
	{$pager->put_link_tag()}
</div>