<div>
	<div class="page_titile">
		{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $lang_type}
			新規従事者の登録
		{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $lang_type}
			New registration
		{/if}
	</div>
	<br>
	{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $lang_type}
		ご登録完了後、ご入力いただいたメールアドレスに、ご登録の確認メールをお送りします。
	{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $lang_type}
		After completing your registration, a confirmation email will be sent to the email address you entered.
	{/if}
	<br>
	<hr>
	<div class="h_form">
		{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $lang_type}
			入力内容
		{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $lang_type}
			Input content
		{/if}
	</div>
	<br>
	<div class="alert">
		{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $lang_type}
			※まだ、従事者登録は完了していません。
		{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $lang_type}
			※Registration is not yet complete.
		{/if}
	</div>
	<br>
	{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $lang_type}
		入力内容に誤りがないか確認してください。<br>
		会員登録を完了するためには送付される作業者番号とパスワードの認証が必要です。<br>
	{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $lang_type}
		Please check that your input information is correct. <br>
		To complete your membership registration, you will need to authenticate the worker number and password you will receive. <br>
	{/if}
	<br>
	<form method="post" action="/account/registFinish/" enctype="multipart/form-data">
		<div class="div_form">
			<label class="lb_form">
				{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $lang_type}
					氏名 :
				{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $lang_type}
					Name :
				{/if}				
			</label>
			<div class="input_form">{$input_data.name}</div>
		</div>

		<div class="div_form">
			<label class="lb_form">
				{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $lang_type}
					ふりがな :
				{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $lang_type}
					Frigana :
				{/if}
			</label>
			<div class="input_form">{$input_data.name_kana}</div>
		</div>

		<div class="div_form">
			<label class="lb_form">
				{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $lang_type}
					電話番号 :
				{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $lang_type}
					Telephone number :
				{/if}
			</label>
			<div class="input_form">{$input_data.tel}</div>
		</div>

		<div class="div_form">
			<label class="lb_form">
				{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $lang_type}
					メールアドレス :
				{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $lang_type}
					Email :
				{/if}
			</label>
			<div class="input_form">{$input_data.email}</div>
		</div>

		<div class="div_form">
			<label class="lb_form">
				{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $lang_type}
					パスワード :
				{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $lang_type}
					Password :
				{/if}
			</label>
			<div class="input_form">*************</div>
		</div>

		<div class="div_form">
			<label class="lb_form">
				{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $lang_type}
					郵便番号 :
				{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $lang_type}
					Post code :
				{/if}
			</label>
			<div class="input_form">{$input_data.post_code}</div>
		</div>

		<div class="div_form">
			<label class="lb_form">
				{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $lang_type}
					住所 :
				{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $lang_type}
					Address :
				{/if}
			</label>
			<div class="input_form">{$input_data.address}</div>
		</div>

		<div class="div_form">
			<label class="lb_form">
				{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $lang_type}
					性別 :
				{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $lang_type}
					Sex :
				{/if}
			</label>
			<div class="input_form">{$input_data.name}</div>
		</div>

		<div class="div_form">
			<label class="lb_form">
				{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $lang_type}
					生年月日 :
				{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $lang_type}
					Birthday :
				{/if}
			</label>
			<div class="input_form">{$input_data.birth_day|date_format:'%Y年%m月%d日'}生</div>
		</div>

		<div class="div_form">
			<label class="lb_form">
				{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $lang_type}
					国籍 :
				{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $lang_type}
					Nationality :
				{/if}
			</label>
			<div class="input_form">{$input_data.country_name}</div>
		</div>

		<div class="div_form">
			<label class="lb_form">
				{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $lang_type}
					雇用形態 :
				{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $lang_type}
					Employment :
				{/if}
			</label>
			<div class="input_form">{$input_data.employ_type_name}</div>
		</div>

		<div class="div_form">
			<label class="lb_form">
				{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $lang_type}
					所属会社 :
				{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $lang_type}
					Affiliated company :
				{/if}
			</label>
			<div class="input_form">
				{if isset($input_data.company_name)}
					{$input_data.company_name}
				{else}
					{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $lang_type}
						その他（{$input_data.etc_company_name}）
					{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $lang_type}
						Other（{$input_data.etc_company_name}）
					{/if}
				{/if}
			</div>
		</div>

		{if $files}

			{foreach from=$files item=file}

				<div class="div_form">
					<label class="lb_form">{$file.cert_name}</label>
					<div class="input_form">
						<img src="/api/generateImage/?cert_id={$file.cert_id}&cert_type={$file.cert_type}" width="200px">
					</div>
				</div>

			{/foreach}

		{/if}

		{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $lang_type}
			<div class="div_form">
				<label class="lb_form">同意書への同意</label>
				<div class="input_form">✓同意する</div>
			</div>
			<div class="div_form">
				<label class="lb_form">個人情報取り扱い同意書</label>
				<div class="input_form">✓同意する</div>
			</div>
			<div class="div_form">
				<label class="lb_form">秘密保持契約書（NDA）</label>
				<div class="input_form">✓同意する</div>
			</div>
			<br>
			<hr>
			<div class="h_form">持ち物</div>
			<br>
			・着替え<br>
			　汗をかく場合があります。非常に寒くなる場合があります。<br>
			・軽食・飲み物<br>
			　すぐに食べられる軽食を持参してください。<br>
			・携帯電話・スマートフォン<br>
			　緊急時の連絡が取れるように持参してください。<br>
			・免許書・資格証・外国人登録証<br>
			　　必ず持参してください。<br>
			<br>
			<br>
			<div class="h_form">再確認同意</div>
			<br>
			以下の場合は作業に参加できません。<br>
			<br>
			・遅刻厳禁　バスが行ってしまいます。<br>
			・発熱がある場合はお帰りいただきます。<br>
			・ルールや決まり事を遵守できない場合は退場となります。<br>
			・怠けている人には、リーダーの権限により退場していただきます。出入り禁止。<br>
			・県庁職員さんや従事者同士での暴言、暴力は即退場、出入り禁止になります。<br>
			・所定場所以外での喫煙は厳禁です。<br>
			・貴重品はSSや農場内へ持ち込まないでください。一切保証できません。<br>
			・駐車場内の事故や盗難におきましては一切責任を負えません。<br>
			・車両や機械の運転は安全を最も重視して行ってください。<br>
			<br>
			<br>
			<div class="div_input_button">
				<input type="submit" value="同意して登録する" class="input_button">
				<input type="button" value="　戻　　　　る　" class="input_button" onclick="window.history.back();">
			</div>
		{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $lang_type}
			<div class="div_form">
				<label class="lb_form">Acceptance of the consent form</label>
				<div class="input_form">✓Agree</div>
			</div>
			<div class="div_form">
				<label class="lb_form">Personal Information Handling Agreement</label>
				<div class="input_form">✓Agree</div>
			</div>
			<div class="div_form">
				<label class="lb_form">Non-Disclosure Agreement (NDA)</label>
				<div class="input_form">✓Agree</div>
			</div>
			<br>
			<hr>
			<div class="h_form">Belongings</div>
			<br>
			・Change of clothes<br>
			　You may sweat. It may get very cold. <br>
			・Snacks and drinks<br>
			　Please bring snacks that you can eat quickly. <br>
			・Cell phone/smartphone<br>
			　Please bring them so you can contact us in case of an emergency. <br>
			・Driver's license/certificate/alien registration card<br>
			　Please be sure to bring them with you. <br>
			<br>
			<br>
			<div class="h_form">Reconfirmation and Agreement</div>
			<br>
			You cannot participate in the work if:<br>
			<br>
			・Being late is strictly prohibited; the bus will leave. <br>
			・If you have a fever, you will be asked to leave. <br>
			・If you do not follow the rules and regulations, you will be asked to leave. <br>
			・If you are lazy, you will be asked to leave by the leader's authority. You will not be allowed to enter or leave. <br>
			・Abusive language or violence between prefectural government employees or other workers will result in immediate expulsion and a ban on entry. <br>
			・Smoking is strictly prohibited outside of designated areas. <br>
			・Please do not bring valuables into the service station or farm. We cannot guarantee their safety. <br>
			・We are not responsible for any accidents or thefts that occur in the parking lot. <br>
			・Please prioritize safety when operating vehicles or machinery. <br>
			<br>
			<br>
			<div class="div_input_button">
				<input type="submit" value="Agree and register" class="input_button">
				<input type="button" value="　　　Back　　　" class="input_button" onclick="window.history.back();">
			</div>
		{/if}

	</form>

</div>