<div>
	
	{* 会員情報詳細 共通ヘッダ *}
	{include file="`$smarty.const.VIEW_DIR`/common/mypage_forcast_header.html"}

	<div class="h_form">作業希望予定日登録</div>
	<br>
	作業が可能な希望日を選択してください。（最大2週間後までの予定を登録できます。）
	<br>
	<form method="post" action="{UtilCommon::get_base_url('mypage', 'forcastFinish')}">
		<div class="div_form">
			<table class="input_list">
				<tr>
					<th>日付</th>
					<th>参加希望</th>
				</tr>
				{foreach from=$calendars item=calendar}
					{assign var="is_forcast" value=0}
					{foreach from=$forcasts item=forcast}
						{foreach from=$forcast_shifts key=forcast_shift_key item=forcast_shift_name}

							{if $calendar->id == $forcast->ft_calendar_id && $forcast->can_join{$forcast_shift_key}}
								{assign var="{$calendar->id}_can_join{$forcast_shift_key}_is_forcast" value=1}
							{else}
								{assign var="{$calendar->id}_can_join{$forcast_shift_key}_is_forcast" value=0}
							{/if}

						{/foreach}
					{/foreach}
					<tr>
						<td>{$calendar->name|date_format:"%Y 年 %m 月 %d 日"}（{UtilCommon::get_yb($calendar->name)}）</td>
						<td>
							{foreach from=$forcast_shifts key=forcast_shift_key item=forcast_shift_name}
								{$forcast_shift_name}
								<label><input type="radio" name="can_joins[{$calendar->id}][{$forcast_shift_key}]" value="0" {if !${$calendar->id}_can_join{$forcast_shift_key}_is_forcast}checked{/if}>指定なし</label>
								<label><input type="radio" name="can_joins[{$calendar->id}][{$forcast_shift_key}]" value="1" {if ${$calendar->id}_can_join{$forcast_shift_key}_is_forcast}checked{/if}>参加希望</label>
								<br>
							{/foreach}
						</td>
					</tr>
				{/foreach}
			</table>
		</div>
		<br>
		<div class="div_input_button">
			<input type="submit" value="　登 録 す る 　" class="input_button">
			<input type="button" value="会員情報へ戻る" class="input_button" onclick="location.href='{UtilCommon::get_base_url(mypage)}'">
		</div>

	</form>

</div>