<div>
	
	{* 会員情報詳細 共通ヘッダ *}
	{include file="`$smarty.const.VIEW_DIR`/common/mypage_detail_header.html"}

	<div class="h_form">
		{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
			パスワードの変更
		{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
			Change password
		{/if}
	</div>
	<br>
	{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
		新しいパスワードを入力してください。
	{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
		Please enter your new password.
	{/if}
	<br>
	<form method="post" action="mypage/editPasswordConfirm/">
		<div class="div_form">
			<label class="lb_form">
				{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
					パスワード
				{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
					Password
				{/if}
			</label>
			<div class="input_form">
				{assign var="input_password" value=""}
				{if isset($smarty.post.password)}
					{assign var="input_password" value=$smarty.post.password}
				{/if}
				<input type="password" name="password" value="{$input_password}">
				{if isset($error_messages.password)}
					<div class="alert">{$error_messages.password}</div>
				{/if}
			</div>
		</div>

		<div class="div_form">
			<label class="lb_form">
				{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
					パスワード（確認用）
				{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
					Re-enter Password
				{/if}
			</label>
			<div class="input_form">
				{assign var="input_re_password" value=""}
				{if isset($smarty.post.re_password)}
					{assign var="input_re_password" value=$smarty.post.re_password}
				{/if}
				<input type="password" name="re_password" value="{$input_re_password}">
				{if isset($error_messages.re_password)}
					<div class="alert">{$error_messages.re_password}</div>
				{/if}
			</div>
		</div>
		<br>
		<div class="div_input_button">
			{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
				<input type="submit" value="　確認画面へ　" class="input_button">
				<input type="button" value="従事者情報へ戻る" class="input_button" onclick="location.href='/mypage/detail/'">
			{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
				<input type="submit" value="　　　Confirm　　" class="input_button">
				<input type="button" value="Return to information" class="input_button" onclick="location.href='/mypage/detail/'">
			{/if}
		</div>

	</form>

</div>