<div>
	
	{* 従事者情報詳細 共通ヘッダ *}
	{include file="`$smarty.const.VIEW_DIR`/common/mypage_detail_header.html"}

	<div class="h_form">
		{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
			パスワードの変更
		{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
			Change password
		{/if}
	</div>
	<br>
		{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
			パスワードを更新します。よろしいですか？
		{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
			Update your password. Are you sure?
		{/if}
	<br>
	<form method="post" action="/mypage/editPasswordFinish/" >

		<div class="div_form">
			<label class="lb_form">
				{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
					パスワード
				{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
					Password
				{/if}
			</label>
			<div class="input_form">
				{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
					※示しません
				{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
					※Not displayed.
				{/if}
			</div>
		</div>
		<br>
		<div class="div_input_button">
			{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
				<input type="submit" value="更新する" class="input_button">
				<input type="button" value="戻　　る" class="input_button" onclick="window.history.back();">
			{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
				<input type="submit" value="　　　Update　　" class="input_button">
				<input type="button" value="　　　Back　　　" class="input_button" onclick="window.history.back();">
			{/if}
		</div>

	</form>

</div>