<div>
	
	{* 従事者情報詳細 共通ヘッダ *}
	{include file="`$smarty.const.VIEW_DIR`/common/mypage_detail_header.html"}

	<div class="h_form">
		{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
			メールアドレスの変更
		{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
			Change email address
		{/if}
	</div>
	<br>
	{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
		新しいメールアドレスを入力してください。
	{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
		Please enter your new email address.
	{/if}
	<br>
	<form method="post" action="{UtilCommon::get_base_url('mypage', 'editEmailConfirm')}">
		<div class="div_form">
			<label class="lb_form">
				{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
					メールアドレス
				{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
					Email
				{/if}
			</label>
			<div class="input_form">
				{assign var="input_email" value=""}
				{if isset($smarty.post.email)}
					{assign var="input_email" value=$smarty.post.email}
				{/if}
				<input type="email" name="email" value="{$input_email}">
				{if isset($error_messages.email)}
					<div class="alert">{$error_messages.email}</div>
				{/if}
			</div>
		</div>

		<div class="div_form">
			<label class="lb_form">
				{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
					確認用メールアドレス
				{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
					Re-enter Email
				{/if}
			</label>
			<div class="input_form">
				{assign var="input_re_email" value=""}
				{if isset($smarty.post.re_email)}
					{assign var="input_re_email" value=$smarty.post.re_email}
				{/if}
				<input type="email" name="re_email" value="{$input_re_email}">
				{if isset($error_messages.re_email)}
					<div class="alert">{$error_messages.re_email}</div>
				{/if}
			</div>
		</div>
		<br>
		<div class="div_input_button">
			{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
				<input type="submit" value="　確認画面へ　" class="input_button">
				<input type="button" value="従事者情報へ戻る" class="input_button" onclick="location.href='/mypage/detail/'">
			{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
				<input type="submit" value="　　　Confirm　　" class="input_button">
				<input type="button" value="Return to information" class="input_button" onclick="location.href='/mypage/detail/'">
			{/if}
		</div>

	</form>

</div>