<div>
	
	{* 従事者情報詳細 共通ヘッダ *}
	{include file="`$smarty.const.VIEW_DIR`/common/mypage_detail_header.html"}

	<div class="h_form">
		{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
			従事者情報変更
		{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
			Change information
		{/if}
	</div>
	<br>
	{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
		従事者情報を更新します。よろしいですか？
	{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
		We will update your employee information. Is this OK?
	{/if}
	<br>
	<form method="post" action="{UtilCommon::get_base_url('mypage', 'editAccountFinish')}">
		<div class="div_form">
			<label class="lb_form">
				{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
					名前 :
				{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
					Name :
				{/if}
			</label>
			<div class="input_form">{$input_data.name}</div>
		</div>
		<div class="div_form">
			<label class="lb_form">
				{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
					ふりがな :
				{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
					Furigana :
				{/if}
			</label>
			<div class="input_form">{$input_data.name_kana}</div>
		</div>
		<div class="div_form">
			<label class="lb_form">
				{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
					電話番号 :
				{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
					Telephone number :
				{/if}
			</label>
			<div class="input_form">{$input_data.tel}</div>
		</div>
		<div class="div_form">
			<label class="lb_form">
				{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
					郵便番号 :
				{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
					Post code :
				{/if}
			</label>
			<div class="input_form">{$input_data.post_code}</div>
		</div>
		<div class="div_form">
			<label class="lb_form">
				{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
					住所 :
				{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
					Address :
				{/if}
			</label>
			<div class="input_form">{$input_data.address}</div>
		</div>
		<div class="div_form">
			<label class="lb_form">
				{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
					性別 :
				{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
					Sex :
				{/if}
			</label>
			<div class="input_form">{$gender_type_name}</div>
		</div>
		<div class="div_form">
			<label class="lb_form">
				{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
					生年月日 :
				{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
					Birthday :
				{/if}
			</label>
			<div class="input_form">{$input_data.birth_day|date_format:'%Y年%m月%d日'}</div>
		</div>
		<div class="div_form">
			<label class="lb_form">
				{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
					国籍 :
				{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
					Nationality :
				{/if}
			</label>
			<div class="input_form">{$country->name}</div>
		</div>
		<div class="div_form">
			<label class="lb_form">
				{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
					雇用形態 :
				{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
					Employment type :
				{/if}
			</label>
			<div class="input_form">{$employ_type_name}</div>
		</div>
		<div class="div_form">
			<label class="lb_form">
				{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
					所属会社 :
				{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
					Affiliated company :
				{/if}
			</label>
			<div class="input_form">
				{if !$input_data.etc_company_name}
					{$company->name}
				{else}
					その他（{$input_data.etc_company_name}）
				{/if}
			</div>
		</div>
		<div class="div_form">
			<label class="lb_form">
				{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
					言語 :
				{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
					Language :
				{/if}
			</label>
			<div class="input_form">{$lang_type_name}</div>
		</div>
		<br><br>
		<div class="div_input_button">
			{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
				<input type="submit" value="更新する" class="input_button">
				<input type="button" value="戻　　る" class="input_button" onclick="window.history.back();">
			{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
				<input type="submit" value="　　　Update　　" class="input_button">
				<input type="button" value="　　　Back　　　" class="input_button" onclick="window.history.back();">
			{/if}
		</div>
	</form>
</div>