<div>
	
	{* 従事者情報詳細 共通ヘッダ *}
	{include file="`$smarty.const.VIEW_DIR`/common/mypage_detail_header.html"}

	<div class="h_form">
		{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
			従事者情報変更
		{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
			Change information
		{/if}
	</div>
	<br>
		{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
			従事者情報を入力してください。
		{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
			Please enter information.
		{/if}
	<br>
	<form method="post" action="/mypage/editAccountConfirm/">
		<div class="div_form">
			<label class="lb_form">
				{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
					氏名 :
				{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
					Name :
				{/if}
			</label>
			<div class="input_form">
				{if isset($smarty.post.name)}
					{assign var="input_name" value=$smarty.post.name}
				{else}
					{assign var="input_name" value=$user->name}
				{/if}
				<input type="text" name="name" value="{$input_name}">
				{if isset($error_messages.name)}
					<div class="alert">{$error_messages.name}</div>
				{/if}
			</div>
		</div>
		<div class="div_form">
			<label class="lb_form">
				{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
					ふりがな :
				{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
					Furigana :
				{/if}
			</label>
			<div class="input_form">
				{if isset($smarty.post.name_kana)}
					{assign var="input_name_kana" value=$smarty.post.name_kana}
				{else}
					{assign var="input_name_kana" value=$user->name_kana}
				{/if}
				<input type="text" name="name_kana" value="{$input_name_kana}">
				{if isset($error_messages.name_kana)}
					<div class="alert">{$error_messages.name_kana}</div>
				{/if}
			</div>
		</div>
		<div class="div_form">
			<label class="lb_form">
				{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
					電話番号 :
				{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
					Telephone number :
				{/if}
			</label>
			<div class="input_form">
				{if isset($smarty.post.tel)}
					{assign var="input_tel" value=$smarty.post.tel}
				{else}
					{assign var="input_tel" value=$user->tel}
				{/if}
				<input type="text" name="tel" value="{$input_tel}">
				{if isset($error_messages.tel)}
					<div class="alert">{$error_messages.tel}</div>
				{/if}
			</div>
		</div>
		<div class="div_form">
			<label class="lb_form">
				{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
					郵便番号 :
				{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
					Post code :
				{/if}
			</label>
			<div class="input_form">
				{if isset($smarty.post.post_code)}
					{assign var="input_post_code" value=$smarty.post.post_code}
				{else}
					{assign var="input_post_code" value=$user->post_code}
				{/if}
				<input type="text" name="post_code" value="{$input_post_code}" placeholder="※000-0000の場合は、0000000">
				{if isset($error_messages.post_code)}
					<div class="alert">{$error_messages.post_code}</div>
				{/if}
			</div>
		</div>
		<div class="div_form">
			<label class="lb_form">
				{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
					住所 :
				{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
					Address :
				{/if}
			</label>
			<div class="input_form">
				{if isset($smarty.post.address)}
					{assign var="input_address" value=$smarty.post.address}
				{else}
					{assign var="input_address" value=$user->address}
				{/if}
				<input type="text" name="address" value="{$input_address}">
				{if isset($error_messages.address)}
					<div class="alert">{$error_messages.address}</div>
				{/if}
			</div>
		</div>
		<div class="div_form">
			<label class="lb_form">
				{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
					性別 :
				{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
					Sex :
				{/if}
			</label>
			<div class="input_form">
				{if isset($smarty.post.gender_type)}
					{assign var="input_gender_type" value=$smarty.post.gender_type}
				{else}
					{assign var="input_gender_type" value=$user->gender_type}
				{/if}
				{foreach from=$gender_types key=gender_type item=gender_type_name}
					<label><input type="radio" name="gender_type" value="{$gender_type}" {if $input_gender_type == $gender_type}checked{/if}>&nbsp;{$gender_type_name}</label><br>
				{/foreach}
				{if isset($error_messages.gender_id)}
					<div class="alert">{$error_messages.gender_id}</div>
				{/if}
			</div>
		</div>
		<div class="div_form">
			<label class="lb_form">
				{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
					生年月日 :
				{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
					Birthday :
				{/if}
			</label>
			<div class="input_form">
				{if isset($smarty.post.birth_day)}
					{assign var="input_birth_day" value=$smarty.post.birth_day}
				{else}
					{assign var="input_birth_day" value=$user->birth_day}
				{/if}
				<input type="date" name="birth_day" value="{$input_birth_day}">
				{if isset($error_messages.birth_day)}
					<div class="alert">{$error_messages.birth_day}</div>
				{/if}
			</div>
		</div>
		<div class="div_form">
			<label class="lb_form">
				{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
					国籍 :
				{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
					Nationality :
				{/if}
			</label>
			<div class="input_form">
				{assign var="input_country_id" value=""}
				{if isset($smarty.post.country_id)}
					{assign var="input_country_id" value=$smarty.post.country_id}
				{else}
					{assign var="input_country_id" value=$user->country_id}
				{/if}
				<select name="country_id">
					{foreach from=$countries item=country}
						<option value="{$country->id}" {if $input_country_id == $country->id}checked{/if}>{$country->name}</option>
					{/foreach}
				</select>
				{if isset($error_messages.country_id)}
					<div class="alert">{$error_messages.country_id}</div>
				{/if}
			</div>
		</div>
		<div class="div_form">
			<label class="lb_form">
				{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
					雇用形態 :
				{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
					Employment type :
				{/if}
			</label>
			<div class="input_form">
				{assign var="input_cont_id" value=""}
				{if isset($smarty.post.employ_type)}
					{assign var="input_employ_type" value=$smarty.post.employ_type}
				{else}
					{assign var="input_employ_type" value=$user->employ_type}
				{/if}
				{foreach from=$employ_types key=employ_type item=employ_type_name}
					<label><input type="radio" name="employ_type" value="{$employ_type}" {if $input_employ_type == $employ_type}checked{/if}>&nbsp;{$employ_type_name}</label><br>
				{/foreach}
				{if isset($error_messages.employ_type)}
					<div class="alert">{$error_messages.employ_type}</div>
				{/if}
			</div>
		</div>
		<div class="div_form">
			<label class="lb_form">
				{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
					所属会社 :
				{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
					Affiliated company :
				{/if}
			</label>
			<div class="input_form">
				{assign var="input_company_id" value=""}
				{if isset($smarty.post.company_id)}
					{assign var="input_company_id" value=$smarty.post.company_id}
				{else}
					{assign var="input_company_id" value=$user->company_id}
				{/if}
				<select name="company_id">
					{foreach from=$companies item=company}
						<option value="{$company->id}" {if $input_company_id == $company->id}checked{/if}>{$company->name}</option>
					{/foreach}
					<option value="0" {if $input_company_id == 0}selected{/if} >その他</option>
				</select>
				{if isset($error_messages.company_id)}
					<div class="alert">{$error_messages.company_id}</div>
				{/if}
			</div>
			{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
				※「その他」を選んだ場合のみ、ご入力ください。
			{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
				※Please enter only if you select 「Other」.
			{/if}
			<div class="input_form">
				{if isset($smarty.post.etc_company_name)}
					{assign var="input_etc_company_name" value=$smarty.post.etc_company_name}
				{else}
					{assign var="input_etc_company_name" value=$user->etc_company_name}
				{/if}
				<input type="text" name="etc_company_name" value="{$input_etc_company_name}">
				{if isset($error_messages.etc_company_name)}
					<div class="alert">{$error_messages.etc_company_name}</div>
				{/if}
			</div>
		</div>
		<div class="div_form">
			<label class="lb_form">
				{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
					言語 :
				{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
					Language :
				{/if}
			</label>
			<div class="input_form">
				{assign var="input_lang_type" value=""}
				{if isset($smarty.post.lang_type)}
					{assign var="input_lang_type" value=$smarty.post.lang_type}
				{else}
					{assign var="input_lang_type" value=$user->lang_type}
				{/if}
				<select name="lang_type">
					{foreach from=$lang_types key=lang_type item=lang_type_name}
						<option value="{$lang_type}" {if $input_lang_type == $lang_type}selected{/if}>{$lang_type_name}</option>
					{/foreach}
				</select>
				{if isset($error_messages.lang_type)}
					<div class="alert">{$error_messages.lang_type}</div>
				{/if}
			</div>
		</div>
		<br><br>
		<div class="div_input_button">
			{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
				<input type="submit" value="　確認画面へ　" class="input_button">
				<input type="button" value="従事者情報へ戻る" class="input_button" onclick="location.href='/mypage/detail/'">
			{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
				<input type="submit" value="　　　Confirm　　" class="input_button">
				<input type="button" value="Return to information" class="input_button" onclick="location.href='/mypage/detail/'">
			{/if}
		</div>
	</form>
</div>