<div>
	
	{* 従事者情報詳細 共通ヘッダ *}
	{include file="`$smarty.const.VIEW_DIR`/common/mypage_forcast_header.html"}

	<div class="h_form">
		{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
			希望シフト登録
		{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
			Register desired shift
		{/if}
	</div>
	<br>
	{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
		希望シフトを登録しました。
	{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
		Your desired shift has been registered.
	{/if}
	<br>
	<br>
	<br>
	<div class="div_input_button">
		{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
			<input type="button" value="続けて希望シフト登録する" class="input_button" onclick="location.href='/mypage/requestShiftAddForm/'">
			<input type="button" value="従事者情報へ戻る" class="input_button" onclick="location.href='/mypage/'">
		{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
			<input type="button" value="Continue to register" class="input_button" onclick="location.href='/mypage/requestShiftAddForm/'">
			<input type="button" value="Return to information" class="input_button" onclick="location.href='/mypage/'">
		{/if}
	</div>

</div>