<div>
	
	{* 従事者情報詳細 共通ヘッダ *}
	{include file="`$smarty.const.VIEW_DIR`/common/mypage_detail_header.html"}

	<div class="h_form">
		{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
			資格証アップロード
		{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
			Upload certificate
		{/if}
	</div>
	<br>
	{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
		資格証のアップロードが完了しました。
	{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
		Your certificate has been uploaded.
	{/if}
	<br>
	<br>
	<br>
	<div class="div_input_button">
		{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
			<input type="button" value="マイページへ戻る" class="input_button" onclick="location.href='/mypage/">
		{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
			<input type="button" value="Return to Mypage" class="input_button" onclick="location.href='/mypage/'">
		{/if}
	</div>

</div>