<div>
	{* 従事者情報詳細 共通ヘッダ *}
	{include file="`$smarty.const.VIEW_DIR`/common/mypage_detail_header.html"}

	<div class="h_form">
		{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
			資格証アップロード
		{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
			Upload certificate
		{/if}
	</div>
	<br>
	{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
		資格証をアップロードします。よろしいですか？
	{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
		I will upload your certificate. Is this OK?
	{/if}
	<br>
	<form method="post" action="/mypage/uploadCertFinish/" enctype="multipart/form-data">

		{foreach from=$files item=file}

			<div class="div_form">
				<label class="lb_form">{$file.cert_name}</label>
				<div class="input_form">
					<img src="/api/generateImage/?cert_id={$file.cert_id}&cert_type={$file.cert_type}" width="200px">
				</div>
			</div>

		{/foreach}

		<br>
		<div class="div_input_button">
			{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
				<input type="submit" value="アップロードする" class="input_button">
				<input type="button" value="　戻　　　　る　" class="input_button" onclick="window.history.back();">
			{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
				<input type="submit" value=" Upload " class="input_button">
				<input type="button" value="　Back　" class="input_button" onclick="window.history.back();">
			{/if}
		</div>

	</form>

</div>