{* jsForm *}
{include file="`$smarty.const.ADMIN_VIEW_DIR`/common/form_exec_js.html"}

<div class="panel">
	
	<div class="panel-heading">
		<h3 class="panel-title">臨時従事者追加</h3>
	</div>
	
	<div class="panel-body">

		従事者情報を入力してください。<br />
		<br />

		{if isset($error_messages)}
			{foreach from=$error_messages item=$error_message}
			<div class="alert alert-danger alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
				<i class="fa fa-times-circle"></i> {$error_message}<br>
			</div>
			{/foreach}
		{/if}

		{* フォーム *}
		<form method="post" action="/work/addUserFinish/" id="frm" name="frm" novalidate="novalidate">
			<input type="hidden" name="id" value="{$id}">
			<table class="input_form">
				<tbody>
					<tr>
						<th>
							氏名<span class="reqire">*</span>
						</th>
						<td>
							{assign var="input_name" value=""}
							{if isset($smarty.post.name)}
								{assign var="input_name" value=$smarty.post.name}
							{/if}
							<input type="text" name="name" class="form-control" placeholder="山田 太郎" value="{$input_name}">
						</td>
					</tr>
					<tr>
						<th>
							氏名（ふりがな）<span class="reqire">*</span>
						</th>
						<td>
							{assign var="input_name_kana" value=""}
							{if isset($smarty.post.name_kana)}
								{assign var="input_name_kana" value=$smarty.post.name_kana}
							{/if}
							<input type="text" name="name_kana" class="form-control" placeholder="やまだ たろう" value="{$input_name_kana}">
						</td>
					</tr>
					<tr>
						<th>電話番号</th>
						<td>
							{assign var="input_tel" value=""}
							{if isset($smarty.post.tel)}
								{assign var="input_tel" value=$smarty.post.tel}
							{/if}
							<input type="text" name="tel" class="form-control" placeholder="" value="{$input_tel}">
						</td>
					</tr>
					<tr>
						<th>メールアドレス</th>
						<td>
							{assign var="input_email" value=""}
							{if isset($smarty.post.email)}
								{assign var="input_email" value=$smarty.post.email}
							{/if}
							<input type="email" name="email" class="form-control" placeholder="" value="{$input_email}">
						</td>
					</tr>
					<tr>
						<th>郵便番号</th>
						<td>
							{assign var="input_post_code" value=""}
							{if isset($smarty.post.post_code)}
								{assign var="input_post_code" value=$smarty.post.post_code}
							{/if}
							<input type="text" name="post_code" class="form-control" placeholder="" value="{$input_post_code}">
						</td>
					</tr>
					<tr>
						<th>住所</th>
						<td>
							{assign var="input_address" value=""}
							{if isset($smarty.post.address)}
								{assign var="input_address" value=$smarty.post.address}
							{/if}
							<input type="text" name="address" class="form-control" placeholder="" value="{$input_address}">
						</td>
					</tr>
					<tr>
						<th>性別</th>
						<td>
							{assign var="input_gender_type" value=""}
							{if isset($smarty.post.gender_type)}
								{assign var="input_gender_type" value=$smarty.post.gender_type}
							{/if}
							<select name="gender_type" class="form-control" style="width: 100px;">
								{foreach from=$smarty.const.PARAM_CONST_GENDER_TYPES key=gender_type item=gender_type_name}
									<option value="{$gender_type}" {if $input_gender_type == $gender_type}selected{/if}>{$gender_type_name}</option>
								{/foreach}
							</select>
						</td>
					</tr>
					<tr>
						<th>生年月日</th>
						<td>
							{assign var="input_birth_day" value=""}
							{if isset($smarty.post.birth_day)}
								{assign var="input_birth_day" value=$smarty.post.birth_day}
							{/if}
							<input type="date" name="birth_day" class="form-control" placeholder="" value="{$input_birth_day}">
						</td>
					</tr>
					<tr>
						<th>国籍</th>
						<td>
							{assign var="input_country_id" value=""}
							{if isset($smarty.post.country_id)}
								{assign var="input_country_id" value=$smarty.post.country_id}
							{/if}
							<select name="country_id" class="form-control" style="width: 200px;">
								{foreach from=$countries item=country}
									<option value="{$country->id}" {if $input_country_id == $country->id}selected{/if}>{$country->name}</option>
								{/foreach}
							</select>
						</td>
					</tr>
					<tr>
						<th>雇用形態</th>
						<td>
							{assign var="input_employ_type" value=""}
							{if isset($smarty.post.employ_type)}
								{assign var="input_employ_type" value=$smarty.post.employ_type}
							{/if}
							<select name="employ_type" class="form-control" style="width: 200px;">
								{foreach from=$smarty.const.PARAM_CONST_EMPLOY_TYPES key=employ_type item=employ_type_name}
									<option value="{$employ_type}" {if $input_employ_type == $employ_type}selected{/if}>{$employ_type_name}</option>
								{/foreach}
							</select>
						</td>
					</tr>
					<tr>
						<th>所属会社</th>
						<td>
							{assign var="input_company_id" value=""}
							{if isset($smarty.post.company_id)}
								{assign var="input_company_id" value=$smarty.post.company_id}
							{/if}
							<select name="company_id" class="form-control" style="width: 200px;">
								{foreach from=$companies item=company}
									<option value="{$company->id}" {if $input_company_id == $company->id}selected{/if}>{$company->name}</option>
								{/foreach}
							</select>
						</td>
					</tr>
					<tr>
						<th>その他会社名</th>
						<td>
							{assign var="input_etc_company_name" value=""}
							{if isset($smarty.post.etc_company_name)}
								{assign var="input_etc_company_name" value=$smarty.post.etc_company_name}
							{/if}
							<input type="text" name="etc_company_name" class="form-control" placeholder="" value="{$input_etc_company_name}">
						</td>
					</tr>
					<tr>
						<th>備考</th>
						<td>
							{assign var="input_note" value=""}
							{if isset($smarty.post.note)}
								{assign var="input_note" value=$smarty.post.note}
							{/if}
							<textarea name="note" class="form-control" cols="10" rows="5">{$input_note}</textarea>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
		<br />
		<div class="frm_btn_area">
			<button type="button" class="btn btn-default" onclick="javascript:history.back();">戻る</button>
			<button type="button" class="btn btn-primary" onclick="add_exec();">登録</button>
		</div>
	</div>
</div>
