<script type="text/javascript">

$(function() {

	$('#button_csv_export').click(function() {
		$('#csv_search_location_name').val($('#search_location_name').val());
		$('#csv_search_location_shift_name').val($('#search_location_shift_name').val());
		$('#csv_search_shift_date_from').val($('#search_shift_date_from').val());
		$('#csv_search_shift_date_to').val($('#search_shift_date_to').val());
		$('#csv_export').submit();
	});

});
	
</script>

<div class="panel">
	
	<div class="panel-body">

		{* 検索フォーム *}
		<form method="get" action="/work/list/" id="form" name="frm" novalidate="novalidate">
			<table class="search_form">
				<tbody>
					<tr>
						<th>現場名</th>
						<td>
							{assign var="input_location_name" value=""}
							{if isset($smarty.get.location_name)}
								{assign var="input_location_name" value=$smarty.get.location_name}
							{/if}
							<input type="text" name="location_name" id="search_location_name" class="form-control" placeholder="" value="{$input_location_name}">
						</td>
						<th>現場シフト名</th>
						<td>
							{assign var="input_location_shift_name" value=""}
							{if isset($smarty.get.location_shift_name)}
								{assign var="input_location_shift_name" value=$smarty.get.location_shift_name}
							{/if}
							<input type="text" name="location_shift_name" id="search_location_shift_name" class="form-control" placeholder="" value="{$input_location_shift_name}">
						</td>
					</tr>
					<tr>
						<th>現場シフト日</th>
						<td colspan="3">
							{assign var="input_shift_date_from" value=""}
							{if isset($smarty.get.shift_date_from)}
								{assign var="input_shift_date_from" value=$smarty.get.shift_date_from}
							{/if}
							<input type="date" name="shift_date_from" id="search_shift_date_from" class="form-control" placeholder="" value="{$input_shift_date_from}" style="width: 30%;">
							　〜　
							{assign var="input_shift_date_to" value=""}
							{if isset($smarty.get.shift_date_to)}
								{assign var="input_shift_date_to" value=$smarty.get.shift_date_to}
							{/if}
							<input type="date" name="shift_date_to" id="search_shift_date_to" class="form-control" placeholder="" value="{$input_shift_date_to}" style="width: 30%;">
						</td>
					</tr>
				</tbody>
			</table>
		</form>
		<form method="post" action="/work/listCsvExport/" id="csv_export" name="frmCsv" novalidate="novalidate">
			<input type="hidden" name="location_name" id="csv_search_location_name" value="" />
			<input type="hidden" name="location_shift_name" id="csv_search_location_shift_name" value="" />
			<input type="hidden" name="shift_date_from" id="csv_search_shift_date_from" value="" />
			<input type="hidden" name="shift_date_to" id="csv_search_shift_date_to" value="" />
		</form>
		<br />
		<div class="frm_btn_area">
			<button type="button" class="btn btn-primary" onclick="frm.submit();">検索</button>
			<button type="button" class="btn btn-primary" id="button_csv_export">CSV出力</button>
		</div>
	</div>
</div>

<div class="panel">
	<div class="panel-heading">
		<div class="div_title_are">
			<h3 class="panel-title">打刻現場シフト 一覧</h3>
		</div>
	</div>
	<div class="panel-body">
		打刻を開始するシフトを選択してください。<br><br>
		<table class="table table-striped">
			<thead>
				<tr>
					<th style="width: 12%;">
						{UtilCommon::gen_sort_button('現場名', 'l.name')}
					</th>
					<th style="width: 8%;">
						{UtilCommon::gen_sort_button('シフト名', 'ls.name')}
					</th>
					<th style="width: 12%;">
						{UtilCommon::gen_sort_button('現場シフト日時', 'ls.shift_date_from')}
					</th>
					<th style="width: 4%;">名簿</th>
					<th style="width: 10%;">打刻操作</th>
				</tr>
			</thead>
			<tbody>
				{if $location_shifts}
					{foreach from=$location_shifts item=location_shift}
						<tr>
							<td>{$location_shift->location_name}</td>
							<td>{$location_shift->shift_name}</td>
							<td>
								{$location_shift->shift_date_from|date_format:'%-m月%-d日 %-H:%M'} 〜
								{$location_shift->shift_date_to|date_format:'%-m月%-d日 %-H:%M'}
							</td>
							<td>
								<a href="/work/recordList/?id={$location_shift->id}" class="btn btn-info btn-xs">名簿を見る</a>
							</td>
							<td>
								{if $location_shift->is_closed}
									<button class="btn btn-disnable btn-xs">締め処理済み</button>
								{else}
									<a href="/work/recordForm/?id={$location_shift->id}&type={$smarty.const.PARAM_WORK_TYPE_BEGIN}" class="btn btn-info btn-xs">始業</a>
									<a href="/work/recordForm/?id={$location_shift->id}&type={$smarty.const.PARAM_WORK_TYPE_END}" class="btn btn-info btn-xs">終業</a>
								{/if}
							</td>
						</tr>
					{/foreach}
				{else}
					<tr>
						<td colspan="5">現場シフトが登録されていません。</td>
					</tr>					
				{/if}
			</tbody>
		</table>
	</div>
</div>

{* ページャ *}
<div align="center" style="margin-top: 10px; margin-bottom: 10px;">
	{$pager->put_link_tag()}
</div>