<div class="panel">
	
	<div class="panel-heading">
		<h3 class="panel-title">現場シフト 名簿</h3>
	</div>
	
	<div class="panel-body">

		<table class="input_form">
			<tbody>
				<tr>
					<th>現場名</th>
					<td>{$location_shift->location_name}</td>
					<th>現場シフト名</th>
					<td>{$location_shift->shift_name}</td>
				</tr>
				<tr>
					<th>シフト時間</th>
					<td colspan="3">{$location_shift->shift_date_from|date_format:'%Y年%-m月%d日 %-H:%M'} 〜 {$location_shift->shift_date_to|date_format:'%Y年%-m月%d日 %-H:%M'}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="panel-body">
		<div class="frm_btn_area_left">
			{if $location_shift->is_closed}
				<button class="btn btn-disnable btn-xs">締め処理済みのため、臨時従事者は追加できません</button>
			{else}
				<a href="/work/addUserForm/?id={$location_shift->id}" class="btn btn-primary">臨時従事者を追加</a>
			{/if}
			<button class="btn btn-info btn-xs" onclick="window.location.reload();">ページをリロードする</button>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th style="width: 3%;">従事者コード</th>
					<th style="width: 10%;">従事者氏名</th>
					<th style="width: 9%;">始業日時</th>
					<th style="width: 9%;">終業日時</th>
					<th style="width: 10%;">コメント</th>
					<th style="width: 8%;">操作</th>
				</tr>
			</thead>
			<tbody>
				{if $location_assign_users}
					{foreach from=$location_assign_users item=location_assign_user}
						<tr>
							<td>{$location_assign_user->code}</td>
							<td>{$location_assign_user->name}</td>
							<td>
								<span {if $location_assign_user->is_modify_from}style="color: red;"{/if}>
									{if $location_assign_user->work_date_from && '0000-00-00 00:00:00' != $location_assign_user->work_date_from}
										{$location_assign_user->work_date_from|date_format:'%Y年%-m月%d日 %-H:%M:%S'}
									{else}
										打刻無し
									{/if}
								</span>
							</td>
							<td>
								<span {if $location_assign_user->is_modify_to}style="color: red;"{/if}>
									{if $location_assign_user->work_date_to && '0000-00-00 00:00:00' != $location_assign_user->work_date_to}
										{$location_assign_user->work_date_to|date_format:'%Y年%-m月%d日 %-H:%M:%S'}
									{else}
										打刻無し
									{/if}
								</span>
							</td>
							<td>{$location_assign_user->comment}</td>
							<td>
								{if $location_shift->is_closed}
									<button class="btn btn-disnable btn-xs">締め処理済み</button>
								{else}
									<a href="/work/recordUpdForm/?id={$location_assign_user->id}" class="btn btn-info btn-xs">編集</a>
								{/if}
							</td>
						</tr>
					{/foreach}
				{else}
					<tr>
						<td colspan="7">従事者がアサインされていません。</td>
					</tr>					
				{/if}
			</tbody>
		</table>
		<div class="frm_btn_area">
			<button type="button" class="btn btn-primary" onclick="location.href='/work/list/'">打刻現場シフト一覧へ戻る</button>
		</div>
	</div>
</div>