{* jsForm *}
{include file="`$smarty.const.ADMIN_VIEW_DIR`/common/form_exec_js.html"}

<div class="panel">
	
	<div class="panel-heading">
		<h3 class="panel-title">打刻編集</h3>
	</div>
	
	<div class="panel-body">

		<table class="input_form">
			<tbody>
				<tr>
					<th>現場名</th>
					<td>{$location_shift->location_name}</td>
					<th>現場シフト名</th>
					<td>{$location_shift->shift_name}</td>
				</tr>
				<tr>
					<th>シフト時間</th>
					<td colspan="3">{$location_shift->shift_date_from|date_format:'%Y年%-m月%d日 %-H:%M'} 〜 {$location_shift->shift_date_to|date_format:'%Y年%-m月%d日 %-H:%M'}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="panel-body">

		打刻情報を入力してください。<br />
		<br />

		{if isset($error_messages)}
			{foreach from=$error_messages item=$error_message}
			<div class="alert alert-danger alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
				<i class="fa fa-times-circle"></i> {$error_message}<br>
			</div>
			{/foreach}
		{/if}

		{* フォーム *}
		<form method="post" action="/work/recordUpdFinish/" id="frm" name="frm" novalidate="novalidate">
			<input type="hidden" name="id" value="{$location_assign_user->id}" />
			<table class="input_form">
				<tbody>
					<tr>
						<th>始業日時</th>
						<td>
							{if isset($smarty.post.work_date_from)}
								{assign var="input_work_date_from" value=$smarty.post.work_date_from}
							{else}
								{assign var="input_work_date_from" value=$location_assign_user->work_date_from}
							{/if}
							<input type="datetime-local" name="work_date_from" class="form-control" placeholder="" value="{$input_work_date_from}">
						</td>
					</tr>
					<tr>
						<th>終業日時</th>
						<td>
							{if isset($smarty.post.work_date_to)}
								{assign var="input_work_date_to" value=$smarty.post.work_date_to}
							{else}
								{assign var="input_work_date_to" value=$location_assign_user->work_date_to}
							{/if}
							<input type="datetime-local" name="work_date_to" class="form-control" placeholder="" value="{$input_work_date_to}">
						</td>
					</tr>
					<tr>
						<th>コメント</th>
						<td>
							{if isset($smarty.post.comment)}
								{assign var="input_comment" value=$smarty.post.comment}
							{else}
								{assign var="input_comment" value=$location_assign_user->comment}
							{/if}
							<input type="text" name="comment" class="form-control" placeholder="" value="{$input_comment}">
						</td>
					</tr>
				</tbody>
			</table>
		</form>
		<br />
		<div class="frm_btn_area">
			<button type="button" class="btn btn-default" onclick="location.href='/work/recordList/?id={$id}'">一覧へ戻る</button>
			<button type="button" class="btn btn-primary" onclick="upd_exec();">更新</button>
		</div>
	</div>
</div>