<!doctype html>
<html lang="ja">

<head>
	{include file="`$smarty.const.ADMIN_VIEW_DIR`/common/head.html"}
</head>

<body>

	<div id="wrapper">

	{* NAVBAR *}
	{include file="`$smarty.const.ADMIN_VIEW_DIR`/common/navbar.html"}

	{* LEFT SIDEBAR *}
	{include file="`$smarty.const.ADMIN_VIEW_DIR`/common/left_sidebar.html"}

	<div class="main">

		<div class="main-content">
			
			<div class="container-fluid">

				{* MAIN *}
				{include file="`$smarty.const.ADMIN_VIEW_DIR`/{$controller}/{$action}.html"}

			</div>

		</div>

	</div>

</body>

</html>