{* jsForm *}
{include file="`$smarty.const.ADMIN_VIEW_DIR`/common/form_exec_js.html"}

<div class="panel">
	
	<div class="panel-heading">
		<h3 class="panel-title">源泉徴収金額マスタCSVインポート</h3>
	</div>
	
	<div class="panel-body">

		源泉徴収金額マスタのCSVファイルをアップロードしてください。<br />
		<br />

		{if isset($error_messages)}
			{foreach from=$error_messages item=$error_message}
			<div class="alert alert-danger alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
				<i class="fa fa-times-circle"></i> {$error_message}<br>
			</div>
			{/foreach}
		{/if}

		{* フォーム *}
		<form method="post" action="/import/withholdTaxFinish/" id="frm" name="frm" novalidate="novalidate" enctype="multipart/form-data">
			<table class="input_form">
				<tbody>
					<tr>
						<th>
							CSVファイル<span class="reqire">*</span>
						</th>
						<td>
							{assign var="input_csv_file" value=""}
							{if isset($smarty.post.csv_file)}
								{assign var="input_csv_file" value=$smarty.post.csv_file}
							{/if}
							<input type="file" name="csv_file" value="{$input_csv_file}" />
						</td>
					</tr>
					<tr>
						<th>
							ヘッダ行<span class="reqire">*</span>
						</th>
						<td>
							{assign var="input_is_ignore_header" value="1"}
							{if isset($smarty.post.is_ignore_header)}
								{assign var="input_is_ignore_header" value=$smarty.post.is_ignore_header}
							{/if}
							<label><input type="checkbox" name="is_ignore_header" value="1" {if $input_is_ignore_header}checked{/if} />
							&nbsp;ヘッダ行は除外する</label>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
		<br />
		<div class="frm_btn_area">
			<button type="button" class="btn btn-default" onclick="javascript:history.back();">戻る</button>
			<button type="button" class="btn btn-primary" onclick="csv_imp_exec();">インポート</button>
		</div>
	</div>
</div>

<div class="panel">
	
	<div class="panel-heading">
		<h3 class="panel-title">CSVファーマット</h3>
	</div>
	
	<div class="panel-body">

		{* CSVフォーマット *}
		<table class="table table-striped">
			<tbody>
				<tr>
					<th style="width: 20%;">項目名</th>
					<th style="width: 10%;">必須</th>
					<th style="width: 70%;">説明</th>
				</tr>
				<tr>
					<td>ID</td>
					<td></td>
					<td>
						資格証明書マスタの識別ID<br>
						<ul>
							<li>未設定の場合 : 新規登録</li>
							<li>登録済みのIDの場合 : 更新</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>算出種別</td>
					<td>◯</td>
					<td>
						算出方法の種別<br>
						<ul>
							{foreach from=$smarty.const.WITHHOLD_TAX_CALC_TYPES key=tax_calc_type item=tax_calc_type_name}
								<li>{$tax_calc_type} : {$tax_calc_type_name}</li>	
							{/foreach}
						</ul>
					</td>
				</tr>
				<tr>
					<td>算出種別名</td>
					<td></td>
					<td>算出方法の種別の名称</td>
				</tr>
				<tr>
					<td>給与金額範囲（開始）</td>
					<td>◯</td>
					<td>算出の給与金額の開始値</td>
				</tr>
				<tr>
					<td>給与金額範囲（終了）</td>
					<td>◯</td>
					<td>算出の給与金額の終了値</td>
				</tr>
				<tr>
					<td>給与金額加算割合</td>
					<td></td>
					<td>
						割合算出の値<br>
						例）53% → 0.53
					</td>
				</tr>
				<tr>
					<td>割合加算基準金額</td>
					<td></td>
					<td>
						割合算出の判定基準金額<br>
						算出種別が「割合」の場合、必須<br>
					</td>
				</tr>
				<tr>
					<td>割合加算税金額</td>
					<td></td>
					<td>
						割合算出の加算金額<br>
						算出種別が「割合」の場合、必須<br>
					</td>
				</tr>
				<tr>
					<td>税金額</td>
					<td></td>
					<td>
						該当範囲の加算金額<br>
						算出種別が「範囲」の場合、必須<br>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
