<script type="text/javascript">

$(function() {

	$('.upd-daily-wage').on('click', function(){
		if (window.confirm('日当を登録します。よろしいですか？\r\n※確定するまでは修正することが可能です。')) {
			$(this).parent('.submit-upd-daily-wage').submit();
		}
	});

	$('.upd-is-confirmed').on('click', function(){
		if (window.confirm('日当を確定します。よろしいですか？')) {
			$(this).parent('.submit-upd-is-confirmed').submit();
		}
	});

	$('.upd-is-beck').on('click', function(){
		if (window.confirm('日当を取り消します。よろしいですか？')) {
			$(this).parent('.submit-upd-is-beck').submit();
		}
	});

});

</script>

<div class="panel">

	<div class="panel-heading">
		<div class="div_title_are">
			<h3 class="panel-title">現場情報</h3>
		</div>
	</div>
	<div class="panel-body">
		<table class="search_form">
			<tbody>
				<tr>
					<th>名称</th>
					<td>{$location->name}</td>
					<th>日付</th>
					<td>{$location->location_date|date_format:'%Y年%m月%d日'}（{UtilCommon::get_yb($location->location_date)}）</td>
				</tr>
				<tr>
					<th>住所</th>
					<td>{$location->address}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="panel-heading">
		<div class="div_title_are">
			<h3 class="panel-title">日当対象 一覧</h3>
		</div>
	</div>
	<div class="panel-body">
		<table class="table table-striped">
			<thead>
				<tr>
					<th style="width: 8%;">シフト</th>
					<th style="width: 12%;">氏名</th>
					<th style="width: 6%;">始業</th>
					<th style="width: 6%;">終業</th>
					<th style="width: 4%;">稼働</th>
					<th style="width: 14%;">日当</th>
					<th style="width: 6%;">源泉徴収</th>
					<th style="width: 6%;">支給金額</th>
					<th style="width: 6%;">状態</th>
					<th style="width: 6%;">操作</th>
				</tr>
			</thead>
			<tbody>
				{if $location_assign_users}
					{foreach from=$location_assign_users item=location_assign_user}
						<tr>
							<td>{$location_assign_user->location_shift_name}</td>
							<td>
								{$location_assign_user->name}<br>
								{$location_assign_user->user->user_cert_short_names}
							</td>
							<td>{$location_assign_user->work_date_from|date_format:'%-H:%M:%S'}</td>
							<td>{$location_assign_user->work_date_to|date_format:'%-H:%M:%S'}</td>
							<td>{UtilCommon::calc_work_time($location_assign_user->work_date_from, $location_assign_user->work_date_to)} H</td>
							<td>
								{if $location_assign_user->is_confirmed}
									¥{$location_assign_user->daily_wage|number_format}
								{else}
									<form method="post" action="/settle/updDailyWageFinish/" class="submit-upd-daily-wage">
										<input type="number" name="daily_wage" class="form-control" placeholder="9999" value="{$location_assign_user->daily_wage}" style="width: 80px;" />
										<input type="hidden" name="id" class="form-control" value="{$location_assign_user->id}" />
										<input type="hidden" name="location_id" class="form-control" value="{$smarty.get.id}" />
										<button type="button" class="btn btn-info btn-xs upd-daily-wage">登録</button><br>
										<label for="is_tax_{$location_assign_user->id}">
											<input type="checkbox" id="is_tax_{$location_assign_user->id}" name="is_tax" value="1" {if $location_assign_user->withhold_tax}checked{/if} /> 税計算
										</label>										
									</form>
								{/if}
							</td>
							<td>
								{if !is_null($location_assign_user->withhold_tax)}
									¥{$location_assign_user->withhold_tax|number_format}
								{/if}
							</td>
							<td>
								{if !is_null($location_assign_user->total_wage)}
									¥{$location_assign_user->total_wage|number_format}
								{else}
									---
								{/if}								
							</td>
							<td>
								{if $location_assign_user->is_confirmed}
									確定済み
								{else}
									<span style="color: red">未確定</span>
								{/if}
							</td>
							<td>
								{if $location_assign_user->is_confirmed}
									<form method="post" action="/settle/updisConfirmedFinish/" class="submit-upd-is-beck">
										<input type="hidden" name="id" class="form-control" value="{$location_assign_user->id}" />
										<input type="hidden" name="location_id" class="form-control" value="{$smarty.get.id}" />
										<input type="hidden" name="mode" class="form-control" value="2" />
										<button type="button" class="btn btn-info btn-xs upd-is-beck">取り消す</button>
									</form>
								{else if !$location_assign_user->daily_wage}
									---
								{else}
									<form method="post" action="/settle/updisConfirmedFinish/" class="submit-upd-is-confirmed">
										<input type="hidden" name="id" class="form-control" value="{$location_assign_user->id}" />
										<input type="hidden" name="location_id" class="form-control" value="{$smarty.get.id}" />
										<input type="hidden" name="mode" class="form-control" value="1" />
										<button type="button" class="btn btn-info btn-xs upd-is-confirmed">確定する</button>
									</form>
								{/if}
							</td>
						</tr>
					{/foreach}
				{else}
					<tr>
						<td colspan="11">日当の対象が見つかりません。</td>
					</tr>					
				{/if}
			</tbody>
		</table>
	</div>
</div>