<div class="panel">
	
	<div class="panel-heading">
		<h3 class="panel-title">現場シフト日当詳細</h3>
	</div>
	
	<div class="panel-body">
			
		<table class="input_form">
			<tbody>
				<tr>
					<th>従事者コード</th>
					<td>{$location_assign_user->code}</td>
					<th>従事者氏名</th>
					<td>{$location_assign_user->name}</td>
				</tr>
				<tr>
					<th>現場名</th>
					<td>{$location_assign_user->location_name}</td>
					<th>現場シフト名</th>
					<td>{$location_assign_user->location_shift_name}</td>
				</tr>
				<tr>
					<th>勤務打刻</th>
					<td colspan="3">
						{$location_assign_user->work_date_from|date_format:'%Y年%m月%d日 %H:%M:%S'} 〜 {$location_assign_user->work_date_to|date_format:'%Y年%m月%d日 %H:%M:%S'}
						（{UtilCommon::calc_work_time($location_assign_user->work_date_from, $location_assign_user->work_date_to)}H）
					</td>
				</tr>
			</tbody>
		</table>
		<br>
		<table class="input_form">
			<tbody>
				<tr>
					<th>日当</th>
					<td>¥{$location_assign_user->daily_wage|number_format}</td>
				</tr>
				<tr>
					<th>源泉徴収</th>
					<td>- ¥{$location_assign_user->withhold_tax|number_format}</td>
				</tr>
				<tr>
					<th><span>支給額</span></th>
					<td style="font-size: 20px;">¥{$location_assign_user->total_wage|number_format}</td>
				</tr>
		</tbody>
		</table>
		<br>
		<table class="input_form">
			<tbody>
				<tr>
					<th>確定ステータス</th>
					<td>
						{if $location_assign_user->is_confirmed}
							確定済み
						{else}
							<span class="text_alert">未確定</span>
						{/if}
					</td>
				</tr>
				<tr>
					<th>支払いステータス</th>
					<td>
						{if $location_assign_user->is_paid}
							支払済み
						{else}
							<span class="text_alert">未払い</span>
						{/if}
					</td>
					<th>支払日</th>
					<td colspan="3">
						{if $location_assign_user->is_paid}
							{$location_assign_user->paid_date|date_format:'%Y年%m月%d日 %H:%M:%S'}（{UtilCommon::get_yb($location_assign_user->paid_date)}）
						{else}
							---
						{/if}
					</td>
				</tr>
			</tbody>
		</table>
		<br />
		<div class="frm_btn_area">
			<button type="button" class="btn btn-default" onclick="javascript:history.back();">戻る</button>
		</div>
	</div>
</div>