# lolipop server only
#Options +FollowSymLinks

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule !\.(pdf|ico|gif|jpg|png|css|html|xml)$ index.php

AuthType Basic
AuthName "delulu"
AuthUserFile /home/users/1/lolipop.jp-dp34158915/web/chiba-chikusan/admin/conf/.htpasswd
require valid-user