<div>
	<div class="page_titile">個人情報取り扱い同意書</div>
	<br>
	株式会社ＲＩＳＥ(以下「プロアシスト」)では、お預かりした個人情報について、以下のとおり適正かつ安全に管理・運用することに努めます。<br>
	<br>
	１．利用目的<br>
	<br>
	プロアシストでは収集した個人情報について、以下の目的のために利用いたします。<br>
	出退勤及び給与計算の管理<br>
	身分証明（外国籍の方は就労制限）の管理<br>
	資格情報の管理（車両・フォークリフト・玉掛・バックホー等）<br>
	次回以降緊急作業発生時の招集連絡のため<br>
	<br>
	２．第三者提供<br>
	<br>
	当社は、以下の場合を除いて、個人データを第三者へ提供することはしません。<br>
	①法令に基づく場合<br>
	②人の生命・身体・財産を保護するために必要で、本人から同意を得ることが難しい場合<br>
	③公衆衛生の向上・児童の健全な育成のために必要で、本人から同意を得ることが難しい場合<br>
	④国の機関や地方公共団体、その委託者などによる法令事務の遂行にあたって協力する必要があり、かつ本人の同意を得ることで事務遂行に影響が生じる可能性がある場合<br>
	<br>
	３．開示請求<br>
	<br>
	貴殿の個人情報について、ご本人には、開示・訂正・削除・利用停止を請求する権利があります。手続きにあたっては、ご本人確認のうえ対応させていただきますが、代理人の場合も可能です。詳細については、以下「個人情報相談窓口」へご連絡ください。<br>
	<br>
	<br>
	千葉県防疫作業管理センター　個人情報相談窓口<br>
	〒297-0074千葉県茂原市小林2933-6<br>
	株式会社ＲＩＳＥ　個人情報問い合わせ窓口<br>
	TEL：0475-38-7187<br>
	<br>
</div>