{* jsForm *}
{include file="`$smarty.const.ADMIN_VIEW_DIR`/common/form_exec_js.html"}

<div class="panel">
	
	<div class="panel-heading">
		<h3 class="panel-title">源泉徴収金額マスタ更新</h3>
	</div>
	
	<div class="panel-body">

		マスタ情報を入力してください。<br />
		<br />

		{if isset($error_messages)}
			{foreach from=$error_messages item=$error_message}
			<div class="alert alert-danger alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
				<i class="fa fa-times-circle"></i> {$error_message}<br>
			</div>
			{/foreach}
		{/if}

		{* フォーム *}
		<form method="post" action="{UtilCommon::get_base_url('masterData', 'withholdTaxUpdFinish')}" id="frm" name="frm" novalidate="novalidate">
			<input type="hidden" name="id" value="{$withhold_tax->id}">
			<table class="input_form">
				<tbody>
					<tr>
						<th style="width: 40%">
							算出種別<span class="reqire">*</span>
						</th>
						<td>
							{if isset($smarty.post.calc_type)}
								{assign var="input_calc_type" value=$smarty.post.calc_type}
							{else}
								{assign var="input_calc_type" value=$withhold_tax->calc_type}
							{/if}
							<select name="calc_type" class="form-control">
								{foreach from=$withhold_tax_calc_types key=withhold_tax_type item=withhold_tax_type_name}
									<option value="{$withhold_tax_type}" {if $withhold_tax_type == $input_calc_type}selected{/if}>{$withhold_tax_type_name}</option>
								{/foreach}
							</select>
						</td>
					</tr>
					<tr>
						<th>
							給与金額範囲（開始）<span class="reqire">*</span>
						</th>
						<td>
							{if isset($smarty.post.amount_range_from)}
								{assign var="input_amount_range_from" value=$smarty.post.amount_range_from}
							{else}
								{assign var="input_amount_range_from" value=$withhold_tax->amount_range_from}
							{/if}
							<input type="number" name="amount_range_from" class="form-control" placeholder="9999" value="{$input_amount_range_from}">
						</td>
					</tr>
					<tr>
						<th>
							給与金額範囲（終了）<span class="reqire">*</span>
						</th>
						<td>
							{if isset($smarty.post.amount_range_to)}
								{assign var="input_amount_range_to" value=$smarty.post.amount_range_to}
							{else}
								{assign var="input_amount_range_to" value=$withhold_tax->amount_range_to}
							{/if}
							<input type="number" name="amount_range_to" class="form-control" placeholder="9999" value="{$input_amount_range_to}">
						</td>
					</tr>
					<tr>
						<th>
							給与金額加算割合<span class="reqire">*(算出種別 : {$withhold_tax_calc_types[$smarty.const.WITHHOLD_TAX_CALC_TYPE_RATIO]}の場合)</span>
						</th>
						<td>
							{if isset($smarty.post.amount_ratio)}
								{assign var="input_amount_ratio" value=$smarty.post.amount_ratio}
							{else}
								{assign var="input_amount_ratio" value=$withhold_tax->amount_ratio}
							{/if}
							<input type="number" name="amount_ratio" class="form-control" placeholder="0.99" value="{$input_amount_ratio}">
						</td>
					</tr>
					<tr>
						<th>
							割合加算基準金額<span class="reqire">*(算出種別 : {$withhold_tax_calc_types[$smarty.const.WITHHOLD_TAX_CALC_TYPE_RATIO]}の場合)</span>
						</th>
						<td>
							{if isset($smarty.post.ratio_base_amount)}
								{assign var="input_ratio_base_amount" value=$smarty.post.ratio_base_amount}
							{else}
								{assign var="input_ratio_base_amount" value=$withhold_tax->ratio_base_amount}
							{/if}
							<input type="number" name="ratio_base_amount" class="form-control" placeholder="999999" value="{$input_ratio_base_amount}">
						</td>
					</tr>
					<tr>
						<th>
							割合加算税金額<span class="reqire">*(算出種別 : {$withhold_tax_calc_types[$smarty.const.WITHHOLD_TAX_CALC_TYPE_RATIO]}の場合)</span>
						</th>
						<td>
							{if isset($smarty.post.ratio_base_tax_amount)}
								{assign var="input_ratio_base_tax_amount" value=$smarty.post.ratio_base_tax_amount}
							{else}
								{assign var="input_ratio_base_tax_amount" value=$withhold_tax->ratio_base_tax_amount}
							{/if}
							<input type="number" name="ratio_base_tax_amount" class="form-control" placeholder="999999" value="{$input_ratio_base_tax_amount}">
						</td>
					</tr>
					<tr>
						<th>
							税金額<span class="reqire">*(算出種別 : {$withhold_tax_calc_types[$smarty.const.WITHHOLD_TAX_CALC_TYPE_RAGE]}の場合)</span>
						</th>
						<td>
							{if isset($smarty.post.tax_amount)}
								{assign var="input_tax_amount" value=$smarty.post.tax_amount}
							{else}
								{assign var="input_tax_amount" value=$withhold_tax->tax_amount}
							{/if}
							<input type="number" name="tax_amount" class="form-control" placeholder="999999" value="{$input_tax_amount}">
						</td>
					</tr>
				</tbody>
			</table>
		</form>
		<br />
		<div class="frm_btn_area">
			<button type="button" class="btn btn-default" onclick="javascript:history.back();">戻る</button>
			<button type="button" class="btn btn-primary" onclick="upd_exec();">更新</button>
		</div>
	</div>
</div>
