<script type="text/javascript">

function exec() {
	if(window.confirm('更新します。よろしいですか？')) {
		document.frm.submit();
	}
}

</script>

<div class="panel">
	
	<div class="panel-heading">
		<h3 class="panel-title">パスワード変更</h3>
	</div>
	
	<div class="panel-body">

		新しいパスワードを入力してください。<br />
		<br />

		{if isset($error_messages)}
			{foreach from=$error_messages item=$error_message}
			<div class="alert alert-danger alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
				<i class="fa fa-times-circle"></i> {$error_message}<br>
			</div>
			{/foreach}
		{/if}

		{* フォーム *}
		<form method="post" action="/adminUser/updPasswordFinish" id="form" name="frm" novalidate="novalidate">
			<input type="hidden" name="id" value="{$admin_user->id}" />
			<table class="input_form">
				<tbody>
					<tr>
						<th>ユーザ名</th>
						<td>{$admin_user->name}</td>
					</tr>
					<tr>
						<th>
							パスワード<span class="reqire">*</span>
						</th>
						<td>
							<input type="password" name="password" class="form-control" value="">
						</td>
					</tr>
				</tbody>
			</table>
		</form>
		<br />
		<div class="frm_btn_area">
			<button type="button" class="btn btn-default" onclick="javascript:history.back();">戻る</button>
			<button type="button" class="btn btn-primary" onclick="exec();">変更</button>
		</div>
	</div>
</div>