{* jsForm *}
{include file="`$smarty.const.ADMIN_VIEW_DIR`/common/form_exec_js.html"}

<div class="panel">
	
	<div class="panel-heading">
		<h3 class="panel-title">現場シフト情報CSVインポート</h3>
	</div>
	
	<div class="panel-body">

		現場シフト情報のCSVファイルをアップロードしてください。<br />
		<br />

		{if isset($error_messages)}
			{foreach from=$error_messages item=$error_message}
			<div class="alert alert-danger alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
				<i class="fa fa-times-circle"></i> {$error_message}<br>
			</div>
			{/foreach}
		{/if}

		{* フォーム *}
		<form method="post" action="/import/locationShiftFinish/" id="frm" name="frm" novalidate="novalidate" enctype="multipart/form-data">
			<table class="input_form">
				<tbody>
					<tr>
						<th>
							CSVファイル<span class="reqire">*</span>
						</th>
						<td>
							{assign var="input_csv_file" value=""}
							{if isset($smarty.post.csv_file)}
								{assign var="input_csv_file" value=$smarty.post.csv_file}
							{/if}
							<input type="file" name="csv_file" value="{$input_csv_file}" />
						</td>
					</tr>
					<tr>
						<th>
							ヘッダ行<span class="reqire">*</span>
						</th>
						<td>
							{assign var="input_is_ignore_header" value="1"}
							{if isset($smarty.post.is_ignore_header)}
								{assign var="input_is_ignore_header" value=$smarty.post.is_ignore_header}
							{/if}
							<label><input type="checkbox" name="is_ignore_header" value="1" {if $input_is_ignore_header}checked{/if} />
							&nbsp;ヘッダ行は除外する</label>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
		<br />
		<div class="frm_btn_area">
			<button type="button" class="btn btn-default" onclick="javascript:history.back();">戻る</button>
			<button type="button" class="btn btn-primary" onclick="csv_imp_exec();">インポート</button>
		</div>
	</div>
</div>

<div class="panel">
	
	<div class="panel-heading">
		<h3 class="panel-title">CSVファーマット</h3>
	</div>
	
	<div class="panel-body">

		{* CSVフォーマット *}
		<table class="table table-striped">
			<tbody>
				<tr>
					<th style="width: 20%;">項目名</th>
					<th style="width: 10%;">必須</th>
					<th style="width: 70%;">説明</th>
				</tr>
				<tr>
					<td>ID</td>
					<td></td>
					<td>
						現場の識別ID<br>
						<ul>
							<li>未設定の場合 : 新規登録</li>
							<li>登録済みのIDの場合 : 更新</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>現場ID</td>
					<td>◯</td>
					<td>現場のID</td>
				</tr>
				<tr>
					<td>現場名</td>
					<td></td>
					<td>現場の名称</td>
				</tr>
				<tr>
					<td>現場シフト名</td>
					<td>◯</td>
					<td>
						現場に紐づくシフトの名称<br>
					</td>
				</tr>
				<tr>
					<td>現場シフト日時（開始）</td>
					<td>◯</td>
					<td>
						現場シフトの開始日時<br>
						YYYY-MM-DD HH:ii:ss形式
					</td>
				</tr>
				<tr>
					<td>現場シフト日時（終了）</td>
					<td>◯</td>
					<td>
						現場シフトの終了日時<br>
						YYYY-MM-DD HH:ii:ss形式
					</td>
				</tr>
				<tr>
					<td>備考</td>
					<td></td>
					<td>現場情報の備考</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
