<div>
	<div class="page_titile">同意書</div>
	<br>
	以下の注意事項をよくお読みください。<br>
	<br>
	<br>
	この防疫作業は、千葉県庁からの依頼により「プロアシスト」の一員として行っていただきます。<br>
	<br>
	この防疫作業は、他の農場への鳥インフルエンザ拡大を防ぐため、やむを得ず感染源である農場の鳥を殺処分してウイルスを封じ込める目的で行われます。<br>
	放置してウイルスが拡散されると、まだ感染していない農場の鳥にまで拡がり、全滅する事も考えられます。<br>
	残酷ではありますが、他の鶏舎の鳥を守るために信念を持って作業にあたってください。<br>
	<br>
	<br>
	場内では必ず千葉県職員の指示に従ってください。<br>
	県職員の方に感情的に詰め寄ったり、意見をしたりなどは絶対に行わないでください。<br>
	作業時に出る意見や相談などは、プロアシストのリーダーへ申し出てください。<br>
	<br>
	農場内での喫煙は原則禁止です。<br>
	その他も喫煙が許可されたスペース以外でのタバコは厳禁です。<br>
	<br>
	持ち物はあくまで個人管理となります。紛失や破損などは一切保証できません。<br>
	大勢の従事者が出入りしますので、貴重品などはSS（サブステーション）へも持ち込まないでください。<br>
	また、駐車場内での事故や盗難に関しても保証は致しかねます。<br>
	<br>
	発熱のある方や体調の優れない方は作業に従事できませんのでお帰りいただきます。<br>
	<br>
	養鶏場関連のお仕事をされている方は、この作業への参加はできません。<br>
	また、関連しないお仕事の方も、作業後1ヶ月間は他の鶏舎への立ち入りは厳禁です。<br>
	<br>
	作業中または作業直後に体調不良になった方は、プロアシストへご連絡をお願いいたします。<br>
	<br>
</div>