<div>
	{assign var=active_tab value=$smarty.get.tab|default:'qr'}

	{* QRコード*}
	<div class="mypage-tab-content {if 'qr' != $active_tab}is-hidden{/if}" id="qr-section">
	<div class="div_qr_code">
		{if $smarty.const.PARAM_CONST_USER_APPROVE_TYPE_PASSED == $login_user->approve_type}
			{if $smarty.const.IS_DISPLAY_MEMBER_CODE_QR}
				<img src="{UtilCommon::get_base_url('api', 'generateQr')}" class="qr_code">
				<div>{$login_user->code}</div>
			{/if}

			{if $smarty.const.IS_DISPLAY_MEMBER_CODE_BAR}
				<img src="{UtilCommon::get_base_url('api', 'generateBar')}" class="qr_code">
				<div>{$login_user->code}</div>
			{/if}

		{else if $smarty.const.PARAM_CONST_USER_APPROVE_TYPE_WAIT == $login_user->approve_type}
			{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
				<span class="notice_s">承認待ち</span>
			{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
				<span class="notice_s">Pending</span>
			{/if}
		{else}
			{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
				<span class="notice_s">承認見送り</span>
			{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
				<span class="notice_s">Declined</span>
			{/if}
		{/if}
	</div>
	</div>
	<div class="mypage-tab-content {if 'rules' != $active_tab}is-hidden{/if}" id="work-rule-section">
	<div>
	{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
		<ul class="menu">
			<li><p>作業の持ち物</p></li>
			<li><p>着替え（汗をかく場合があります。非常に寒くなる場合があります。）</p></li>
			<li><p>軽食・飲み物（すぐに食べられる軽食を持参してください。）</p></li>
			<li><p>携帯電話・スマートフォン（緊急時の連絡が取れるように持参してください。）</p></li>
			<li><p>免許書・資格証・外国人登録証（必ず持参してください。）</p></li>
			<li><p>作業参加のルール</p></li>
			<li><p>遅刻厳禁（バスが行ってしまいます。）</p></li>
			<li><p>発熱がある場合はお帰りいただきます。</p></li>
			<li><p>ルールや決まり事を遵守できない場合は退場となります。</p></li>
			<li><p>怠けている人には、リーダーの権限により退場していただきます。出入り禁止。</p></li>
			<li><p>県庁職員さんや従事者同士での暴言、暴力は即退場、出入り禁止になります。</p></li>
			<li><p>所定場所以外での喫煙は厳禁です。</p></li>
			<li><p>貴重品はSSや農場内へ持ち込まないでください。一切保証できません。</p></li>
			<li><p>駐車場内の事故や盗難におきましては一切責任を負えません。</p></li>
			<li><p>車両や機械の運転は安全を最も重視して行ってください。</p></li>
		</ul>
	{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
		<ul class="menu">
			<li><p>What to bring to work</p></li>
			<li><p>Change of clothes (You may sweat. It may get very cold.)</p></li>
			<li><p>Snacks and drinks (Please bring snacks that you can eat quickly.)</p></li>
			<li><p>Cell phone/smartphone (Please be sure to bring it with you as a means of emergency contact.)</p></li>
			<li><p>Driver's license/certificate of qualification/alien registration card (Please be sure to bring it with you.)</p></li>
			<li><p>Rules for participating in work</p></li>
			<li><p>Being late is strictly prohibited or the bus will leave.</p></li>
			<li><p>If you have a fever, you will be asked to leave.</p></li>
			<li><p>If you do not follow the rules and regulations, you will be asked to leave.</p></li>
			<li><p>Anyone who is lazy will be asked to leave by the leader. No entry or exit.</p></li>
			<li><p>Abusive language or violence between prefectural government employees or other workers will result in immediate expulsion and a ban on entry.</p></li>
			<li><p>Smoking is strictly prohibited outside designated areas.</p></li>
			<li><p>Please do not bring valuables into the service station or farm. We cannot guarantee their safety.</p></li>
			<li><p>We cannot be held responsible for any accidents or thefts that occur in the parking lot.</p></li>
			<li><p>Please always prioritize safety when operating vehicles or machinery.</p></li>
		</ul>
	{/if}
	</div>
	</div>
	<div class="mypage-tab-content {if 'request-shift' != $active_tab}is-hidden{/if}" id="request-shift-section">
	<ul class="menu">
		<li>
			<a href="/mypage/requestShiftAddForm/">
				<p>
					{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
						登録
					{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
						Register
					{/if}
				</p>
			</a>
		</li>
		<li>
			<a href="/mypage/requestShiftList/">
				<p>
					{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
						一覧
					{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
						List
					{/if}
				</p>
			</a>
		</li>
	</ul>
	</div>
	<div class="mypage-tab-content {if 'result-shift' != $active_tab}is-hidden{/if}" id="result-shift-section">
	<ul class="menu">
		<li>
			<a href="/mypage/resultList/">
				<p>
					{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
						確定シフト一覧ページ
					{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
						Confirmed shift list page
					{/if}
				</p>
			</a>
		</li>
	</ul>
	</div>
	<div class="mypage-tab-content {if 'settings' != $active_tab}is-hidden{/if}" id="setting-section">
	<ul class="menu">
		<li>
			<a href="/mypage/detail/">
				<p>
					{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
						従事者情報詳細
					{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
						Information details
					{/if}
				</p>
			</a>
		</li>
		<li>
			<a href="/mypage/uploadCertForm/">
				<p>
					{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
						資格証アップロード
					{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
						Upload certificate
					{/if}
				</p>
			</a>
		</li>
		<li>
			<a href="/mypage/editPasswordForm/">
				<p>
					{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
						パスワードの変更
					{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
						Change password
					{/if}
				</p>
			</a>
		</li>
		<li>
			<a href="/login/logout/">
				<p>
					{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
						ログアウト
					{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
						Logout
					{/if}
				</p>
			</a>
		</li>
		<li>
			<a href="/mypage/resignForm/">
				<p>
					{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
						退会
					{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
						Resign
					{/if}
				</p>
			</a>
		</li>
	</ul>
	</div>

</div>