<div>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js" defer></script>
	<script type="text/javascript">
	$(function() {
		var isDragging = false;
		var dragStartDate = null;
		var $popupOverlay = $('.shift-popup-overlay');
		var $startSlider = $('#shift-start-hour');
		var $endSlider = $('#shift-end-hour');
		var $timeRange = $('.shift-popup-time-range');
		var $startTimeLabel = $('.shift-popup-handle-label.is-start');
		var $endTimeLabel = $('.shift-popup-handle-label.is-end');
		var $targetDateList = $('.shift-popup-target-date-list');
		var $overwriteWarning = $('.shift-popup-overwrite-warning');
		var $popupOkButton = $('.shift-popup-ok');

		var collectRegisteredRanges = function(dateKey) {
			var ranges = [];
			var $targetCell = $('.calendar-day-cell[data-date="' + dateKey + '"]').first();

			$targetCell.find('.calendar-shift-item').each(function() {
				var startHour = parseInt($(this).attr('data-start-hour'), 10);
				var endHour = parseInt($(this).attr('data-end-hour'), 10);

				if (!isNaN(startHour) && !isNaN(endHour) && endHour >= startHour) {
					ranges.push({
						start: startHour,
						end: endHour
					});
				}
			});

			return ranges;
		};

		var hasRequestedShift = function(dateKey) {
			var $targetCell = $('.calendar-day-cell[data-date="' + dateKey + '"]').first();
			return $targetCell.find('.calendar-shift-item.is-request').length > 0;
		};

		var updateShiftPopupPreview = function() {
			var startHour = parseInt($startSlider.val(), 10);
			var endHour = parseInt($endSlider.val(), 10);

			if (startHour > endHour) {
				startHour = endHour;
				$startSlider.val(startHour);
			}

			var startLabel = ('0' + startHour).slice(-2);
			var endLabel = ('0' + endHour).slice(-2);
			$startTimeLabel.text(startLabel + ':00');
			$endTimeLabel.text(endLabel + ':00');

			var leftPercent = (startHour / 24) * 100;
			var widthPercent = ((endHour - startHour) / 24) * 100;
			$timeRange.css({
				left: leftPercent + '%',
				width: (widthPercent > 0 ? widthPercent : 1.5) + '%'
			});

			$('.shift-popup-target-date-range').css({
				left: leftPercent + '%',
				width: (widthPercent > 0 ? widthPercent : 1.5) + '%'
			});

			$startTimeLabel.css('left', leftPercent + '%');
			$endTimeLabel.css('left', (endHour / 24) * 100 + '%');
		};

		var openShiftPopup = function(dateKey) {
			var $selectedCells = $('.calendar-day-cell.is-selected');
			var targetDates = [];

			if ($selectedCells.length > 1 && $selectedCells.filter('[data-date="' + dateKey + '"]').length) {
				$selectedCells.each(function() {
					targetDates.push($(this).data('date'));
				});
			} else {
				targetDates.push(dateKey);
			}

			targetDates.sort();

			$targetDateList.empty();
			$.each(targetDates, function(_, targetDate) {
				var formattedDate = String(targetDate).replace(/-/g, '/');
				var $targetDateItem = $('<div class="shift-popup-target-date-item">');
				var $targetDateBar = $('<div class="shift-popup-target-date-bar"><div class="shift-popup-target-date-range"></div></div>');

				$.each(collectRegisteredRanges(targetDate), function(_, range) {
					var leftPercent = (range.start / 24) * 100;
					var widthPercent = ((range.end - range.start) / 24) * 100;
					$targetDateBar.append(
						$('<div class="shift-popup-target-date-existing-range">').css({
							left: leftPercent + '%',
							width: (widthPercent > 0 ? widthPercent : 1.5) + '%'
						})
					);
				});

				$targetDateItem.append(
					$('<div class="shift-popup-target-date-text">').text(formattedDate)
				);
				$targetDateItem.append(
					$targetDateBar
				);
				$targetDateList.append(
					$targetDateItem
				);
			});

			var shouldShowWarning = false;
			$.each(targetDates, function(_, targetDate) {
				if (hasRequestedShift(targetDate)) {
					shouldShowWarning = true;
					return false;
				}
			});
			$overwriteWarning.toggle(shouldShowWarning);

			$popupOverlay
				.attr('data-date', dateKey)
				.attr('data-dates', targetDates.join(','))
				.addClass('is-open');
			$popupOkButton.prop('disabled', false);
			$startSlider.val(9);
			$endSlider.val(17);
			updateShiftPopupPreview();
		};

		var closeShiftPopup = function() {
			$popupOverlay.removeClass('is-open');
		};

		var removeShiftItemFromView = function($button) {
			var $shiftItem = $button.closest('.calendar-shift-item');
			var $shiftList = $shiftItem.closest('.calendar-shift-list');
			$shiftItem.remove();

			if ($shiftList.find('.calendar-shift-item').length === 0) {
				$shiftList.remove();
			}
		};

		var deleteShiftButton = function($button) {
			var deleteUrl = $button.data('deleteUrl');
			if (!deleteUrl || $button.prop('disabled')) {
				return $.Deferred().resolve().promise();
			}

			$button.prop('disabled', true);

			return $.ajax({
				url: deleteUrl,
				type: 'GET'
			}).done(function() {
				removeShiftItemFromView($button);
			}).fail(function() {
				$button.prop('disabled', false);
			});
		};

		var getPopupTargetDates = function() {
			var dates = String($popupOverlay.attr('data-dates') || '').split(',');
			return $.grep(dates, function(dateKey) {
				return dateKey;
			});
		};

		var registerShiftForDate = function(dateKey) {
			var startHour = parseInt($startSlider.val(), 10);
			var endHour = parseInt($endSlider.val(), 10);

			return $.ajax({
				url: '/mypage/requestShiftAddFinish/',
				type: 'POST',
				dataType: 'html',
				data: {
					shift_date_from: dateKey,
					shift_time_from: startHour + ':00',
					shift_date_to: dateKey,
					shift_time_to: endHour + ':00'
				}
			});
		};

		var extractRegisterErrorMessage = function(responseText) {
			var $response = $('<div>').html(responseText || '');
			var $alert = $response.find('.alert').first();

			if ($alert.length) {
				return $.trim($alert.text());
			}

			return '';
		};

		var isRegisterSuccessResponse = function(responseText) {
			if (!responseText) {
				return false;
			}

			return responseText.indexOf('希望シフトを登録しました') !== -1 ||
				responseText.indexOf('Your desired shift has been registered') !== -1;
		};

		var registerShiftsSequentially = function(targetDates) {
			var deferred = $.Deferred();
			var index = 0;

			var next = function() {
				if (index >= targetDates.length) {
					deferred.resolve();
					return;
				}

				registerShiftForDate(targetDates[index])
					.done(function(responseText) {
						if (!isRegisterSuccessResponse(responseText)) {
							deferred.reject(extractRegisterErrorMessage(responseText));
							return;
						}

						index += 1;
						next();
					})
					.fail(function() {
						deferred.reject('');
					});
			};

			next();
			return deferred.promise();
		};

		var setCellSelected = function($cell, selected) {
			$cell.toggleClass('is-selected', selected);
		};

		var applyDateRangeSelection = function($table, startDate, endDate, selected) {
			var from = startDate <= endDate ? startDate : endDate;
			var to = startDate <= endDate ? endDate : startDate;

			$table.find('.calendar-day-cell').each(function() {
				var cellDate = $(this).data('date');
				if (cellDate >= from && cellDate <= to) {
					setCellSelected($(this), selected);
				}
			});
		};

		$('.request-shift-calendar').on('mousedown', '.calendar-day-cell', function(e) {
			if ($(e.target).closest('.icon-delete-button, .calendar-add-button').length) {
				return;
			}

			e.preventDefault();
			isDragging = true;
			dragStartDate = $(this).data('date');
			$('.calendar-day-cell.is-selected').removeClass('is-selected');
			setCellSelected($(this), true);
		});

		$('.request-shift-calendar').on('mouseenter', '.calendar-day-cell', function() {
			if (!isDragging) {
				return;
			}

			$('.calendar-day-cell.is-selected').removeClass('is-selected');

			applyDateRangeSelection(
				$(this).closest('.request-shift-calendar'),
				dragStartDate,
				$(this).data('date'),
				true
			);
		});

		$(document).on('mouseup', function() {
			isDragging = false;
			dragStartDate = null;
		});

		$('.request-shift-calendar').on('keydown', '.calendar-day-cell', function(e) {
			if (e.key === 'Enter' || e.key === ' ') {
				e.preventDefault();
				$('.calendar-day-cell.is-selected').removeClass('is-selected');
				$(this).addClass('is-selected');
			}
		});

		$('.request-shift-calendar').on('click', '.calendar-add-button', function(e) {
			e.preventDefault();
			e.stopPropagation();
			openShiftPopup($(this).closest('.calendar-day-cell').data('date'));
		});

		$('.request-shift-calendar').on('click', '.icon-delete-button', function(e) {
			e.preventDefault();
			e.stopPropagation();

			deleteShiftButton($(this)).fail(function() {
				alert('削除に失敗しました。再度お試しください。');
			});
		});

		$(document).on('keydown', function(e) {
			if ((e.key !== 'Delete' && e.keyCode !== 46) || $popupOverlay.hasClass('is-open')) {
				return;
			}

			var $selectedRequestButtons = $('.calendar-day-cell.is-selected .calendar-shift-item.is-request .icon-delete-button');
			if ($selectedRequestButtons.length === 0) {
				return;
			}

			e.preventDefault();

			swal({
				title: '{if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}Delete desired shift?{else}希望シフトを削除しますか？{/if}',
				text: '{if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}Selected desired shifts will be deleted.{else}選択中の日付にある希望シフトを削除します。{/if}',
				icon: 'warning',
				buttons: ['{if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}Cancel{else}キャンセル{/if}', '{if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}Delete{else}削除{/if}'],
				dangerMode: true
			}).then(function(willDelete) {
				if (!willDelete) {
					return;
				}

				var requests = [];
				$selectedRequestButtons.each(function() {
					requests.push(deleteShiftButton($(this)));
				});

				$.when.apply($, requests).fail(function() {
					alert('{if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}Failed to delete desired shift.{else}希望シフトの削除に失敗しました。{/if}');
				});
			});
		});

		$startSlider.on('input change', function() {
			if (parseInt($startSlider.val(), 10) > parseInt($endSlider.val(), 10)) {
				$startSlider.val($endSlider.val());
			}
			updateShiftPopupPreview();
		});

		$endSlider.on('input change', function() {
			if (parseInt($endSlider.val(), 10) < parseInt($startSlider.val(), 10)) {
				$endSlider.val($startSlider.val());
			}
			updateShiftPopupPreview();
		});

		$('.shift-popup-cancel').on('click', function() {
			closeShiftPopup();
		});

		$popupOkButton.on('click', function() {
			if ($popupOkButton.prop('disabled')) {
				return;
			}

			var targetDates = getPopupTargetDates();
			if (!targetDates.length) {
				closeShiftPopup();
				return;
			}

			$popupOkButton.prop('disabled', true);

			registerShiftsSequentially(targetDates)
				.done(function() {
					window.location.reload();
				})
				.fail(function(errorMessage) {
					$popupOkButton.prop('disabled', false);
					if (errorMessage) {
						alert(errorMessage);
						return;
					}
					alert('登録に失敗しました。再度お試しください。');
				});
		});

		$popupOverlay.on('click', function(e) {
			if ($(e.target).is('.shift-popup-overlay')) {
				closeShiftPopup();
			}
		});
	});
	</script>
	
	{* 従事者情報詳細 共通ヘッダ *}
	{include file="`$smarty.const.VIEW_DIR`/common/mypage_forcast_header.html"}

	<div class="h_form">
		{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
			希望シフト一覧
		{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
			Desired shift list desired shift
		{/if}
	</div>
	<br>
	{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
		現在希望しているシフト日時の一覧です。<br>
		希望シフトを削除する場合は、該当日時の「削除」ボタンを押下してください。<br>
		<span class="caution">※既にアサインが確定している日時を削除しても、アサインはキャンセルされないのでご注意ください。</span>
	{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
		This is a list of currently desired shift dates and times. <br>
		To delete a desired shift, click the "Delete" button for the desired date and time. <br>
		<span class="caution">※Please note that deleting a date and time for which an assignment has already been confirmed will not cancel the assignment.</span>
	{/if}
	<br>
	<div class="request-shift-list-actions">
		<a href="/mypage/requestShiftAddForm/" class="request-shift-add-link" aria-label="{if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}Add desired shift{else}希望シフトを追加{/if}">
		</a>
	</div>
	<br>
	<div class="div_form">
		{if $request_shift_calendar_months}
			<div class="request-shift-calendar-list">
				{foreach from=$request_shift_calendar_months item=calendar_month}
					<div class="request-shift-calendar-block">
						<div class="request-shift-calendar-title">{$calendar_month.month_label}</div>
						<table class="request-shift-calendar" aria-label="{if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}Desired shift calendar{else}希望シフトカレンダー{/if}">
							<thead>
								<tr>
									<th class="is-sunday">{if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}Sun{else}日{/if}</th>
									<th>{if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}Mon{else}月{/if}</th>
									<th>{if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}Tue{else}火{/if}</th>
									<th>{if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}Wed{else}水{/if}</th>
									<th>{if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}Thu{else}木{/if}</th>
									<th>{if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}Fri{else}金{/if}</th>
									<th class="is-saturday">{if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}Sat{else}土{/if}</th>
								</tr>
							</thead>
							<tbody>
								{foreach from=$calendar_month.weeks item=calendar_week}
									{strip}
									<tr>
										{foreach from=$calendar_week item=calendar_day}
											<td class="calendar-day-cell {if !$calendar_day.in_month}is-other-month{/if} {if $calendar_day.is_sunday}is-sunday{/if} {if $calendar_day.is_saturday}is-saturday{/if}" tabindex="0" data-date="{$calendar_day.date_key}">
												<button type="button" class="calendar-add-button" aria-label="{if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}Add shift{else}シフト追加{/if}">
													<svg viewBox="0 0 24 24" fill="none" aria-hidden="true">
														<path d="M12 5V19M5 12H19" stroke="currentColor" stroke-width="1.8"/>
													</svg>
												</button>
												<div class="calendar-day-number">{$calendar_day.day}</div>
												{if $calendar_day.shifts}
													<div class="calendar-shift-list">{strip}
														{foreach from=$calendar_day.shifts item=calendar_shift}
															<div class="calendar-shift-item {if 'confirmed' == $calendar_shift.type}is-confirmed{else}is-request{/if}" data-start-hour="{$calendar_shift.start_hour}" data-end-hour="{$calendar_shift.end_hour}">
																<span class="calendar-shift-type-icon" aria-hidden="true">
																	{if 'confirmed' == $calendar_shift.type}
																		<svg viewBox="0 0 24 24" fill="none">
																			<path d="M4 12L9 17L20 6" stroke="currentColor" stroke-width="1.8"/>
																		</svg>
																	{else}
																		<svg viewBox="0 0 24 24" fill="none">
																			<path d="M12 21C12 21 18 14.5 18 10A6 6 0 1 0 6 10C6 14.5 12 21 12 21Z" stroke="currentColor" stroke-width="1.8"/>
																			<circle cx="12" cy="10" r="2" stroke="currentColor" stroke-width="1.8"/>
																		</svg>
																	{/if}
																</span>
																<span class="calendar-shift-label">{$calendar_shift.label}</span>
																{if 'request' == $calendar_shift.type}
																<button type="button" class="icon-delete-button" data-delete-url="/mypage/requestShiftDelFinish/?id={$calendar_shift.id}" aria-label="{if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}Delete{else}削除{/if}">
																	<svg viewBox="0 0 24 24" fill="none" aria-hidden="true">
																		<path d="M4 7H20" stroke="currentColor" stroke-width="1.8"/>
																		<path d="M9 7V5C9 4.45 9.45 4 10 4H14C14.55 4 15 4.45 15 5V7" stroke="currentColor" stroke-width="1.8"/>
																		<path d="M7 7L8 20H16L17 7" stroke="currentColor" stroke-width="1.8"/>
																		<path d="M10 11V17M14 11V17" stroke="currentColor" stroke-width="1.8"/>
																	</svg>
																</button>
																{/if}
															</div>
														{/foreach}
													{/strip}</div>
												{/if}
											</td>
										{/foreach}
									</tr>
									{/strip}
								{/foreach}
							</tbody>
						</table>
					</div>
				{/foreach}
			</div>
		{else}
			{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
				希望シフトの登録がありません。
			{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
				There is no desired shift registered.
			{/if}
		{/if}
	</div>

	<div class="shift-popup-overlay" aria-hidden="true">
		<div class="shift-popup-window" role="dialog" aria-modal="true">
			<div class="shift-popup-time-block">
				<div class="shift-popup-section-title">Time.</div>
				<div class="shift-popup-slider-block">
					<div class="shift-popup-dual-slider">
						<div class="shift-popup-slider-track"></div>
						<div class="shift-popup-time-range"></div>
						<input id="shift-start-hour" class="shift-popup-slider is-start" type="range" min="0" max="24" step="1" value="9" aria-label="開始時刻">
						<input id="shift-end-hour" class="shift-popup-slider is-end" type="range" min="0" max="24" step="1" value="17" aria-label="終了時刻">
						<div class="shift-popup-handle-label is-start">09:00</div>
						<div class="shift-popup-handle-label is-end">17:00</div>
					</div>
				</div>
			</div>
			<div class="shift-popup-target-date-block">
				<div class="shift-popup-section-title">Date</div>
				<div class="shift-popup-target-date-list"></div>
			</div>
			<div class="shift-popup-overwrite-warning" style="display:none;">
				<span class="shift-popup-overwrite-warning-icon" aria-hidden="true">
					<svg viewBox="0 0 24 24" fill="none">
						<path d="M12 3L22 21H2L12 3Z" stroke="currentColor" stroke-width="1.8"/>
						<path d="M12 9V14" stroke="currentColor" stroke-width="1.8"/>
						<circle cx="12" cy="17" r="1" fill="currentColor"/>
					</svg>
				</span>
				{if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}Desired shift will be overwritten.{else}希望シフトは上書きされます。{/if}
			</div>
			<div class="shift-popup-buttons">
				<button type="button" class="shift-popup-ok">OK</button>
				<button type="button" class="shift-popup-cancel">キャンセル</button>
			</div>
		</div>
	</div>

</div>