<div>
	
	{* 従事者情報詳細 共通ヘッダ *}
	{include file="`$smarty.const.VIEW_DIR`/common/mypage_forcast_header.html"}

	<div class="h_form">
		{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
			希望シフト一覧
		{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
			Desired shift list desired shift
		{/if}
	</div>
	<br>
	{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
		現在希望しているシフト日時の一覧です。<br>
		希望シフトを削除する場合は、該当日時の「削除」ボタンを押下してください。<br>
		<span class="caution">※既にアサインが確定している日時を削除しても、アサインはキャンセルされないのでご注意ください。</span>
	{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
		This is a list of currently desired shift dates and times. <br>
		To delete a desired shift, click the "Delete" button for the desired date and time. <br>
		<span class="caution">※Please note that deleting a date and time for which an assignment has already been confirmed will not cancel the assignment.</span>
	{/if}
	<br>
	<div class="request-shift-list-actions">
		<a href="/mypage/requestShiftAddForm/" class="request-shift-add-link" aria-label="{if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}Add desired shift{else}希望シフトを追加{/if}">
			<svg viewBox="0 0 24 24" fill="none" aria-hidden="true">
				<circle cx="12" cy="12" r="9" stroke="currentColor" stroke-width="1.8"/>
				<path d="M12 8V16M8 12H16" stroke="currentColor" stroke-width="1.8"/>
			</svg>
			<span>+追加</span>
		</a>
	</div>
	<br>
	<div class="div_form">
		{if $user_request_shifts}
			<table class="input_list request-shift-list-table">
				{foreach from=$user_request_shifts item=user_request_shift}
					<tr>
						<td class="left">
							<div class="request-shift-row">
								<span class="request-shift-row-text">
									{assign var=shift_from_ymd value=$user_request_shift->shift_date_from|date_format:"%Y%m%d"}
									{assign var=shift_to_ymd value=$user_request_shift->shift_date_to|date_format:"%Y%m%d"}
									{$user_request_shift->shift_date_from|date_format:"%Y/%m/%d"}({UtilCommon::get_yb($user_request_shift->shift_date_from)})
									{$user_request_shift->shift_date_from|date_format:"%H:%M"} 〜
									{if $shift_from_ymd == $shift_to_ymd}
										{$user_request_shift->shift_date_to|date_format:"%H:%M"}
									{else}
										(翌) {$user_request_shift->shift_date_to|date_format:"%H:%M"}
									{/if}
								</span>
								<button type="button" class="icon-delete-button" onclick="location.href='/mypage/requestShiftDelFinish/?id={$user_request_shift->id}'" aria-label="{if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}Delete{else}削除{/if}">
									<svg viewBox="0 0 24 24" fill="none" aria-hidden="true">
										<path d="M4 7H20" stroke="currentColor" stroke-width="1.8"/>
										<path d="M9 7V5C9 4.45 9.45 4 10 4H14C14.55 4 15 4.45 15 5V7" stroke="currentColor" stroke-width="1.8"/>
										<path d="M7 7L8 20H16L17 7" stroke="currentColor" stroke-width="1.8"/>
										<path d="M10 11V17M14 11V17" stroke="currentColor" stroke-width="1.8"/>
									</svg>
								</button>
							</div>
						</td>
					</tr>
				{/foreach}
			</table>
		{else}
			{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
				希望シフトの登録がありません。
			{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
				There is no desired shift registered.
			{/if}
		{/if}
	</div>

</div>