<div>
	
	{* 従事者情報詳細 共通ヘッダ *}
	{include file="`$smarty.const.VIEW_DIR`/common/mypage_result_header.html"}

	<form method="post" action="{UtilCommon::get_base_url('mypage', 'forcastFinish')}">
		<div class="div_form">
			
			{if $location_assign_users}
				<table class="input_list">
					{foreach from=$location_assign_users item=location_assign_user}
						<tr>
							<td class="left">
								<div class="h_form">{$location_assign_user->location_name}</div><br>
								{$location_assign_user->location_address}<br>
								{$location_assign_user->location_shift_name}<br>
								{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
									{$location_assign_user->shift_date_from|date_format:"%Y年%m月%d日 %-H:%M"} - {$location_assign_user->shift_date_to|date_format:"%Y年%m月%d日 %-H:%M"}
								{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
									{$location_assign_user->shift_date_from|date_format} {$location_assign_user->shift_date_from|date_format:"%-H:%M"} - 
									{$location_assign_user->shift_date_to|date_format} {$location_assign_user->shift_date_to|date_format:"%-H:%M"}
								{/if}
							</td>
						</tr>
					{/foreach}
				</table>
			{else}
				確定シフトはございません。
			{/if}
		</div>

	</form>

</div>