<div>
	
	{* 従事者情報詳細 共通ヘッダ *}
	{include file="`$smarty.const.VIEW_DIR`/common/mypage_detail_header.html"}

	<div class="h_form">
		{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
			資格証アップロード
		{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
			Upload certificate
		{/if}
	</div>
	<br>
	{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
		資格証をアップロードしてください。<br>
		なお、既にご提出いただいている資格証は、アップロードできません。
	{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
		Please upload your qualifications.<br>
		Please note that qualifications that have already been submitted cannot be uploaded.
	{/if}
	<br>
	{if isset($error_messages.file)}
		<br>
		<div class="alert">{$error_messages.file}</div>
	{/if}
	<form method="post" action="/mypage/uploadCertConfirm/" enctype="multipart/form-data">

		{foreach from=$certs item=cert}
			<div class="div_form">
				<label class="lb_form">{$cert->name}</label>
				<div class="input_form">
					{if !$cert->is_uploaded}
						<ul>
							{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
								<li>表 : <input type="file" name="file_{$cert->id}_1" accept="image/*" values="" multiple></li>
								<li>裏 : <input type="file" name="file_{$cert->id}_2" accept="image/*" multiple></li>
							{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
								<li>Front : <input type="file" name="file_{$cert->id}_1" accept="image/*" values="" multiple></li>
								<li>Back : <input type="file" name="file_{$cert->id}_2" accept="image/*" multiple></li>
							{/if}
						</ul>
					{else}
						{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
							提出済み
						{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
							Submitted
						{/if}
					{/if}
				</div>
			</div>
		{/foreach}
		<br>
		<div class="div_input_button">
			{if $smarty.const.PARAM_CONST_LANG_TYPE_JP == $login_user->lang_type}
				<input type="submit" value="　確認画面へ 　" class="input_button">
				<input type="button" value="マイページへ戻る" class="input_button" onclick="location.href='/mypage/'">
			{else if $smarty.const.PARAM_CONST_LANG_TYPE_EN == $login_user->lang_type}
				<input type="submit" value="　　Confirm　　" class="input_button">
				<input type="button" value="Return to Mypage" class="input_button" onclick="location.href='/mypage/'">
			{/if}
		</div>

	</form>

</div>