<div>
	
	{* パスワードの再設定 共通ヘッダ *}
	{include file="`$smarty.const.VIEW_DIR`/common/reissue_password_header.html"}

	<div class="h_form">
		新しいパスワードの入力<br><br>
		Enter new password
	</div>
	<br>
	{if isset($error_message)}
		{$error_message}
		<br>
		<br>
		<div class="div_input_button">
			<input type="button" value="トップページへ / Go to Top" class="input_button" onclick="location.href='/login/'">
		</div>
	{else}
		新しいパスワードを入力してください。<br>
		Please enter your new password.
		<br>
		<form method="post" action="/login/reissuePasswordEditFinish/">
			<div class="div_form">
				<label class="lb_form">パスワード / Password</label>
				<div class="input_form">
					{assign var="input_password" value=""}
					{if isset($smarty.post.password)}
						{assign var="input_password" value=$smarty.post.password}
					{/if}
					<input type="password" name="password" value="{$input_password}">
					{if isset($error_messages.password)}
						<div class="alert">{$error_messages.password}</div>
					{/if}
				</div>
			</div>

			<div class="div_form">
				<label class="lb_form">パスワード（確認用）/ Re-enter Password</label>
				<div class="input_form">
					{assign var="input_re_password" value=""}
					{if isset($smarty.post.re_password)}
						{assign var="input_re_password" value=$smarty.post.re_password}
					{/if}
					<input type="password" name="re_password" value="{$input_re_password}">
					{if isset($error_messages.re_password)}
						<div class="alert">{$error_messages.re_password}</div>
					{/if}
				</div>
			</div>
			<br>
			<div class="div_input_button">
				<input type="submit" value="　更新する / Update　" class="input_button">
				<input type="button" value="ログインへ / Go to Log in " class="input_button" onclick="location.href='/login/'">
			</div>

		</form>
	{/if}

</div>