<div>
	
	{* パスワードの再設定 共通ヘッダ *}
	{include file="`$smarty.const.VIEW_DIR`/common/reissue_password_header.html"}

	<div class="h_form">
		登録情報の入力<br><br>
		Enter registration information
	</div>
	<br>
	下記のフォームにメールアドレスを入力してください。<br>
	ご登録のメールアドレスにパスワードの再設定画面のURLを記載したメールをお送りします。(パスワード再設定前にメールの受信設定のご確認をお願いします)<br>
	Please enter your email address in the form below. <br>
	We will send you an email with a link to reset your password to your registered email address. (Please check your email settings before resetting your password.)
	<br>
	<form method="post" action="{UtilCommon::get_base_url('login', 'reissuePasswordConfirm')}">
		<div class="div_form">
			<label class="lb_form">メールアドレス / Email</label>
			<div class="input_form">
				{assign var="input_email" value=""}
				{if isset($smarty.post.email)}
					{assign var="input_email" value=$smarty.post.email}
				{/if}
				<input type="email" name="email" value="{$input_email}">
				{if isset($error_messages.email)}
					<div class="alert">{$error_messages.email}</div>
				{/if}
			</div>
		</div>
		<br>
		<div class="div_input_button">
			<input type="submit" value="　確認画面へ / Confirm　" class="input_button">
			<input type="button" value="ログインへ / Go to Log in " class="input_button" onclick="location.href='/login/'">
		</div>

	</form>

</div>