<script type="text/javascript">

$(function() {

	$('.upd-is-closed').on('click', function(){
		if (window.confirm('現場の締め処理を実行します。よろしいですか？\r\n締め処理後は、現場に関する変更が一切出来なくなります。\r\nまた、この操作を取り消すことが出来ません。')) {
			$(this).next('.submit-upd-is-closed').submit();
		}
	});

	$('#button_csv_export').click(function() {
		$('#csv_search_name').val($('#search_name').val());
		$('#csv_export').submit();
	});

});
	
</script>
<div class="panel">
	
	<div class="panel-body">

		{* 検索フォーム *}
		<form method="get" action="/location/list/" id="form" name="frm" novalidate="novalidate">
			<table class="search_form">
				<tbody>
					<tr>
						<th>現場名</th>
						<td>
							{assign var="input_name" value=""}
							{if isset($smarty.get.name)}
								{assign var="input_name" value=$smarty.get.name}
							{/if}
							<input type="text" name="name" id="search_name" class="form-control" placeholder="" value="{$input_name}">
						</td>
					</tr>
				</tbody>
			</table>
		</form>
		<form method="post" action="/location/listCsvExport/" id="csv_export" name="frmCsv" novalidate="novalidate">
			<input type="hidden" name="name" id="csv_search_name" value="" />
		</form>
		<br />
		<div class="frm_btn_area">
			<button type="button" class="btn btn-primary" onclick="frm.submit();">検索</button>
			<button type="button" class="btn btn-primary" id="button_csv_export">CSV出力</button>
		</div>
	</div>
</div>

<div class="panel">
	<div class="panel-heading">
		<div class="div_title_are">
			<h3 class="panel-title">現場 一覧</h3>
		</div>
	</div>
	<div class="panel-body">
		<div class="frm_btn_area_left">
			<button type="button" class="btn btn-primary" onclick="location.href='/location/addForm/'">新規作成</button>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th style="width: 2%;">
						{UtilCommon::gen_sort_button('#', 'id')}
					</th>
					<th style="width: 10%;">
						{UtilCommon::gen_sort_button('現場日', 'location_date')}
					</th>
					<th style="width: 12%;">
						{UtilCommon::gen_sort_button('現場名', 'name')}
					</th>
					<th style="width: 16%;">
						{UtilCommon::gen_sort_button('現場住所', 'address')}
					</th>
					<th style="width: 8%;">
						{UtilCommon::gen_sort_button('アサイン', 'is_assigned')}
					</th>
					<th style="width: 10%;">操作</th>
					<th style="width: 8%;">締め処理</th>
				</tr>
			</thead>
			<tbody>
				{if $locations}
					{foreach from=$locations item=location}
						<tr>
							<td>{$location->id}</td>
							<td>{$location->location_date|date_format:'%Y年%m月%d日'}（{UtilCommon::get_yb($location->location_date)}）</td>
							<td>{$location->name}</td>
							<td>
								{if $location->address}
									{$location->address}
								{else}
									<span class="text_disabled">（未設定）</span>
								{/if}
							</td>
							<td>
								{if $location->is_assigned}
									<span class="text_disabled">確定済み</span>
								{else}
									<span class="text_alert">未確定</span>
								{/if}
							</td>
							<td>
								{if $location->is_closed}
									<button class="btn btn-disnable btn-xs">更新</button>
								{else}
									<a href="/location/updForm/?id={$location->id}" class="btn btn-info btn-xs">更新</a>
								{/if}
								{if $location->is_assigned || $location->is_closed}
									<button class="btn btn-disnable btn-xs">削除</button>
								{else}
									<a href="/location/delConfirm/?id={$location->id}" class="btn btn-info btn-xs">削除</a>
								{/if}
							</td>
							<td>
								{if $location->is_assigned}
									{if $location->is_closed}
										<button class="btn btn-disnable btn-xs">締め処理済み</button>
									{else}
										<button class="btn btn-info btn-xs upd-is-closed">締め処理</button>
										<form method="post" action="/location/updIsClosedFinish/" class="submit-upd-is-closed">
											<input type="hidden" name="id" value="{$location->id}" />	
										</form>
									{/if}
								{else}
									<button class="btn btn-danger btn-xs">締め処理不可</button>
								{/if}
							</td>
						</tr>
					{/foreach}
				{else}
					<tr>
						<td colspan="">現場が登録されていません。</td>
					</tr>					
				{/if}
			</tbody>
		</table>
	</div>
</div>

{* ページャ *}
<div align="center" style="margin-top: 10px; margin-bottom: 10px;">
	{$pager->put_link_tag()}
</div>